<!-- <div class="leftcurtain"><img src="assets/images/frontcurtain.jpg" /></div>
<div class="rightcurtain"><img src="assets/images/frontcurtain.jpg" /></div> -->

 <div style="visibility: hidden;position: absolute;bottom: 0;">
     <!--  <audio controls autoplay>
        <source src="assets/images/Audience_Applause-Matthiew11-1206899159.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio> -->
    </div>
<!-- <ng-fireworks #fireworks="ngFireworks" [options]="options" class="fireworks" *ngIf="enabled"></ng-fireworks> -->
<!-- <div style="position: absolute; z-index: 999;">
    <button (click)="toggleFireworks()">{{ enabled ? 'Mounted' : 'Unmounted' }}</button>
    <button (click)="waitStop()">waitStop</button>
  </div> -->
        <section class="top-bar-section pt-2 pb-2" >
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-xl-12">
                <div class="logo-block justify-content-between">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-xl-2">
                            <span class="cm-blk">
                                <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                                </span>
                        </div>
                        <div class="col-12 col-xl-8">
                            <div class="heading-text text-center text-uppercase">
                            <!--     <h3 class="mb-0 fw-bolder">Core Sanitation Workers SAFAIMITRA SURVEY Survey</h3> -->
                            <h3 class="mb-0 fw-bolder">SAFAIMITRA SURVEY</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-2 text-end">
                            <div class="loginbtn-blk">
                               <button type="button" class="btn btn-primary" (click)="Login()"><i class="fas fa-sign-in-alt"></i> Login</button>
                            </div>
                        </div>
                    </div>
                    <!-- <span class="cm-blk d-flex">
                        <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                        </span>
                    
                    <h4 class="mb-0">Core Sanitation Workers Survey</h4>
                    <span class="cm-blk d-flex">
                        <img src="assets/images/suresh-audimulapu-2.png" class="img-fluid me-3" alt="Image">
        
                            <h5 class="text-dark fw-bolder fs-6 pt-4 mt-2">Dr.Audimulapu Suresh <br><p class="mb-0 fs-6 fw-normal text-success">Hon'ble Minister for MA & UD, Andhra Pradesh</p></h5>
                            
                        </span> -->
                </div>
            </div>
            <!-- <div class="col-4 col-xl-3">
                <div class="logo-block">
                    
                </div>
            </div>
            
            <div class="col-4 col-xl-3">
                <div class="logo-block">
                 <img src="assets/images/Swachha-Andhra-Logo.png" class="img-fluid" alt="Image">
                </div>
            </div> -->
        </div>
    </div>
    </section>

<div class="main" id="new-home12">

    <section class="announce-blk mt-3 mb-0">
        <div class="container-fluid">
           <div class="row">
            <div class="ticker">
                <div class="title">
                    <h5 class="text-white">Announcements:</h5>
                </div>
                <div class="news">
                    <marquee class="news-content" onMouseOver="this.stop()" onMouseOut="this.start()">
                        <p><img src="assets/images/newst-img1.png" class="img-fluid blink-soft" alt="newset-img"> Welcome to
                            Safaimitra Survey application.</p>
                        <p>Website Launching Soon (http://apsanitationworkerssurvey.ap.gov.in/SWUI/)</p>
                       
                    </marquee>
                </div>
            </div>
           </div>
        </div>
    </section>

    <section class="dashboard-section mt-3 mb-3">
        <div class="container-fluid">
                <div class="row mt-0 mb-3 justify-content-center align-items-center">
                    <div class="col-xl-9">
                        <div class="slider-blk">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/images/sb-2.jpg" class="d-block w-100 slider-imgw" alt="Slider">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/sb-3.jpg" class="d-block w-100 slider-imgw" alt="Slider">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/sb-1.jpg" class="d-block w-100 slider-imgw" alt="Slider">
                                </div>
    
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    </div>
                    <div class="col-xl-3 text-center">
                        Scan QR code to download mobile surveyor application
                        <img src="assets/images/qrcode.png" class="qr-image" alt="QR-image" style="height: 300px;width: 300px;">
                    </div>
                </div>
                </div>
    </section>

    <section class="about-section1 pt-3 pb-3">
        <div class="ab-block">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                  <!--   <div class="col-xl-3 col-12">
                        <div class="card swach-dir-card">
                            <div class="card-img justify-content-center align-items-center">
                                <img src="assets/images/cm-swach.png">
                            </div>
                            <p class="card-title">Sri Y. S. Jagan Mohan Reddy</p>
                            <p class="card-subtitle">Hon’ble Chief Minister</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="card swach-dir-card">
                            <div class="card-img">
                                <img src="assets/images/adimulapu-suresh.png">
                            </div>
                            <p class="card-title">Sri Audimulapu Suresh</p>
                            <p class="card-subtitle">Hon’ble Minister for MA & UD</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="card swach-dir-card">
                            <div class="card-img">
                                <img src="assets/images/mutyalanayudu-img.png">
                            </div>
                            <p class="card-title">Sri Budi Mutyala Naidu</p>
                            <p class="card-subtitle">Hon’ble Minister for Panchayat Raj & Rural Development</p>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-3 col-12">
                        <div class="card swach-dir-card">
                            <div class="card-img">
                                <img src="assets/images/gandham-chandrudu.png">
                            </div>
                            <p class="card-title">Sri Gandham Chandrudu, IAS </p>
                            <p class="card-subtitle">Managing Director, Swachha Andhra Corporation</p>
                        </div>
                    </div>  -->
                </div>
            </div>
        </div>
    </section>

    <section class="survey-section pt-3 pb-3">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-12 col-12">
                    <h2 class="survey-core">Welcome to </h2>
                     <h2 class="survey-core"> Safaimitra Survey Application</h2>
                    <p class="mb-0 survey-text">The Safaimitra Survey Application aims to build and eventually reconstruct Andhra Pradesh’s sanitation framework, focusing on urban and rural sanitation workers and the working environments in which the public, private, and informal sanitation sectors operate. This application helps in the identification of core sanitation workers and their socio-economic conditions. <br> <br>
                        Many of us are only aware of the crucial role core sanitation workers play when we encounter issues like overflowing septic tanks, clogged drains, obstructed or unclean toilets, open places with garbage piles etc. The efficient operation of the sanitation systems that support healthy living conditions for the public depends on these workers. Although they perform a vital public service, core sanitation workers are often discriminated against or undervalued in the society. This basic lack of recognition is the root cause of many problems they encounter. To address these issues comprehensively, Safaimitra Survey Application has been developed with a motive to identify and create database of core sanitation workers.
                        </p>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-section style= position: fixed ">
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
            <!-- <div class="ocean">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </div> -->
            <div class="container pb-2">
                <div class="row g-2">

                    <div class="col-md-6 col-lg-9">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                            H.No. 54-16-1/14D, 3rd Floor, <br>
                            Road No.2, Central Excise Colony,<br>
                            Andhra Loyola College Road, Vijayawada.<br>
                            Andhra Pradesh</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                        <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">

                        <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                            &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

  
</div>