.inforide {
    box-shadow: 0px 0px 10px 0px #ccc;
    /* background-color: white; */
    border-radius: 8px;
    height: 125px;
    background: linear-gradient(90deg, #84d9d2, #07cdae);
}

.inforide-two {
    box-shadow: 0px 0px 10px 0px #ccc;
    /* background-color: white; */
    border-radius: 8px;
    height: 125px;
    background: linear-gradient(90deg, #90caf9, #047edf 99%);
}

.inforide-three {
    box-shadow: 0px 0px 10px 0px #ccc;
    /* background-color: white; */
    border-radius: 8px;
    height: 125px;
    background: linear-gradient(90deg, #ffbf96, #fe7096);
}

.rideone img {
    width: 100%;
}

.ridetwo img {
    width: 100%;
}

.ridethree img {
    width: 100%;
}

.rideone {
    /* background-color: #11489a; */
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 12px;
}

.ridetwo {
    /* background-color: #188754; */
    padding-top: 30px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 12px;
}

.ridethree {
    /* background-color: #4EBCE5; */
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 12px;
}

.fontsty {
    margin-right: -15px;
}

.fontsty h2 {
    color: #6E6E6E;
    font-size: 35px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
}

.fontsty h4 {
    color: #6E6E6E;
    font-size: 25px;
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
}

#chartdivbar {
    width: 100%;
    height: 360px;
}

#chartdivpie1 {
    width: 100%;
    height: 500px;
}

#chartdivline {
    width: 100%;
    height: 500px;
}

img.card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.ab-blk {
    text-align: center;
}

.ab-blk img {
    border-radius: 100%;
    width: 330px;
    border: 5px solid #037b4f;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

.ab-block {
    background-image: url(/assets/images/services-icon-1.png);
    background-position: center;
    background-size: 20%;
}

section.social-media-blk {
    background-image: url(/assets/images/social-media-Icons-bg.png);
    background-position: center;
    background-size: 20%;
}

.ticker {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    margin: 0 auto
}

.news {
    width: 80%;
    background: #02a7dd;
    padding: 0 2%
}

.title {
    width: 20%;
    text-align: center;
    background: #018a54;
    position: relative
}
.title h5 {
    padding-top: 14px;
}

.title:after {
    position: absolute;
    content: "";
    right: -13%;
    border-left: 20px solid #018a54;
    border-top: 28px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 21px solid transparent;
    top: 0px
}

.title h5 {
    font-size: 18px;
    margin: 0px 0px;
}

.news marquee {
    font-size: 18px;
    margin-top: 12px
}

.news-content p {
    margin-right: 41px;
    display: inline
}
div#carouselExampleIndicators {
    border-radius: 20px;
}
.slider-blk {
    border-radius: 20px;
}
.slider-blk img {
    border-radius: 20px;
    border: 0px solid #114798;
}
.blink-hard {
    animation: blinker 1s step-end infinite;
  }
  .blink-soft {
    animation: blinker 1.5s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  img.blink-soft {
    width: 35px;
}
img.qr-image {
    width: 100%;
}
.swach-dir-card{
    width: 100%;
    min-height: 200px;
    height: 225px;
    text-align: center;
    margin: 5px 5px;
}
.swach-dir-card .card-title{
    font-size: 20px;
    line-height: 25px;
    padding: 3px 2px;
    font-weight: bold;
    color: #198754;
}
.swach-dir-card .card-subtitle{
    font-size: 16px;
    line-height: 25px;
    padding: 2px 3px;
    color: #212529;
    font-weight: 500;
}
.logo-block img {
    width: 100px;
  }
  img.sal-img {
    width: 220px !important;
}
section.top-bar-section {
    background-image: url(/assets/images/topbar-bg-gray.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


  /* Curtain */
  
  
  .leftcurtain{
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 999;
    -webkit-animation: slide 5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 5s forwards;
    animation-delay: 1s;
  }
   .rightcurtain{
    width: 51%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 999;
    -webkit-animation: sliderRight 5s forwards;
    -webkit-animation-delay: 1s;
    animation: sliderRight 5s forwards;
    animation-delay: 1s;
  }
  .rightcurtain img, .leftcurtain img{
    width: 100%;
    height: 100%;
  }
  

button.btn-primary{
    position: relative;
    z-index: 1;
}


  @keyframes slideInFromLeft {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0);
    }
  }


  
@-webkit-keyframes slide {
    100% { left: -50%; }
}

@keyframes slide {
    100% { left: -50%; }
}
  
@-webkit-keyframes sliderRight {
    100% { right: -51%; }
}

@keyframes sliderRight {
    100% { right: -51%; }
}