.survey-table td {
    font-size: 16px;
}
.survey-table th {
    font-size: 16px;
}
.form-control {
    appearance: auto;
}
tbody, td, tfoot, th, thead, tr {
    border-color: #090a0a;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.table-bg {
    background-color: #f0f1f3;
   
}
