<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">Safaimitra Survey</h2>
                </div>
            </div>
           
            <div class="card p-3">
                <div class="row align-items-center justify-content-center">
                   
                    <div class="col-12 col-xl-2"  *ngIf="roleid =='1001' || roleid =='1002'|| roleid =='1006'">
                        <label class="form-label">District</label>
                        <select class="default-select wide form-control" placeholder="Select District"
                        [(ngModel)]="Swatch_DISTRICT" (change)="mandalload()"
                           >
                            <option value="0">---Select--</option>
                            <option *ngFor="let objemp of distarray" value="{{objemp.DISTRICT_ID}}">
                                {{objemp.DISTRICT_NAME}}</option>
                        </select>
                        <div *ngIf="isgetdata && (Swatch_DISTRICT == '0')" style="display:red; color: red; font-size: 14px;">
                            District is required *</div>
                    </div>
                    <div class="col-12 col-xl-2" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" >
                                <label class="custom-control-label" for="catrad">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')"  >
                                <label class="custom-control-label" for="catrad1">Rural</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-2" *ngIf="(roleid =='1001' || roleid =='1002' || roleid =='1006') || ((roleid =='1003' && Swatch_Ur =='R'))">
                        <label class="form-label">{{Leveltwo}}</label>
                        <select class="default-select wide form-control" placeholder="Select Mandal"
                        [(ngModel)]="Swatch_MMC_CODE" (change)="gpload()"
                           >
                            <option value="0">---Select--</option>
                            
                            <option *ngFor="let objemp of mandalarry" value="{{objemp.MANDAL_ID}}">
                                {{objemp.MANDAL_NAME}}</option>
                        </select>
                        <div *ngIf="isgetdata && (Swatch_MMC_CODE == '0')" style="display:red; color: red; font-size: 14px;">
                            Mandal is required *</div>
                    </div>
                    <div class="col-12 col-xl-2" *ngIf="(roleid =='1001' || roleid =='1002' || roleid =='1006')|| ((roleid =='1004' || roleid =='1003')) ">
                        <label class="form-label">{{Levelthree}}</label>
                        <select class="default-select wide form-control" placeholder="Select Gram Panchayat"
                        [(ngModel)]="Swatch_GP_CODE" (change)="villageload()"
                           >
                            <option value="0">---Select--</option>
                            <option *ngIf="Swatch_Ur == 'U'" value="All">---All--</option>
                            <option *ngFor="let objemp of gparry" value="{{objemp.ULB_OR_GRAM_PANCHAYAT_ID}}">
                                {{objemp.ULB_OR_GRAM_PANCHAYAT_NAME}}</option>
                        </select>
                        <div *ngIf="isgetdata && (Swatch_GP_CODE == '0')" style="display:red; color: red; font-size: 14px;">
                            Gram Panchayat is required *</div>
                    </div>
                    <div class="col-12 col-xl-2" *ngIf="Swatch_Ur =='R' && roleid !='1005' ">
                        <label class="form-label">Village</label>
                        <select class="default-select wide form-control" placeholder="Select Village"
                        [(ngModel)]="Swatch_VW_CODE" 
                           >
                            <option value="0">---Select--</option>
                            <option value="All">---All--</option>
                            <option *ngFor="let objemp of villagearry" value="{{objemp.WARD_OR_VILLAGE_ID}}">
                                {{objemp.WARD_OR_VILLAGE_NAME}}</option>
                        </select>
                        <div *ngIf="isgetdata && (Swatch_VW_CODE == '0')" style="display:red; color: red; font-size: 14px;">
                            Village is required *</div>
                    </div>
                    <div class="col-12 col-xl-2 mt-4 pt-2" *ngIf="roleid !='1005' ">
                    <button type="button" (click)="GetSurveyReportdata()" class="btn btn-primary btn-sm mt-1">GET</button>
                </div>
                    <div class="col-12 col-xl-12 text-end">
                        <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                    </div>
                    <div *ngIf="Swatch_Ur == 'U'" > <span style="color: red;">Note : Below records are considered as municipal commissioner approved records</span></div>
                    <div *ngIf="Swatch_Ur == 'R'" > <span style="color: red;">Note : Below records are considered as dpo approved records</span></div>

                    <div class="col-12 col-xl-12 mt-2">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th>S.No</th>
                                        <th *ngIf="(Swatch_Ur == 'U') && (Swatch_VW_CODE == 'All')">Ward No.</th>
                                        <th *ngIf="(Swatch_Ur == 'R') && (Swatch_VW_CODE == 'All')">Village Name</th>
                                        <th>Survey ID</th>
                                        <th>Core Sanitation Worker Name</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of SurveyReportdata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td *ngIf="(Swatch_VW_CODE == 'All')">{{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td>{{s.SURVEY_ID}}</td>
                                        <td> <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="ViewReports(s.SURVEY_ID)">{{s.NAME}}</a></span></td>
                
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-section1 bg-dark py-2" style="
width: 100%;
bottom: 0;">
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div> -->
        <div class="container pb-2">
            <div class="row g-2">

                <div class="col-md-6 col-lg-9">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                        H.No. 54-16-1/14D, 3rd Floor, <br>
                        Road No.2, Central Excise Colony,<br>
                        Andhra Loyola College Road, Vijayawada.<br>
                        Andhra Pradesh</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                        &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

    <div class="modal" id="addModalshow" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true"
    [ngStyle]="{'display':addModaldisplay}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" (click)="modalclose()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <from class="enquiry-form">
                    
                    <h5 class="modal-title" id="exampleModalLabel">General Information</h5>
                  
                    <div class="col-12 col-xl-12 mt-2">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th>S.No</th>
                                        <th>Survey ID</th>
                                        <th>Do you consent for Aadhaar-based authentication</th>
                                        <th>Aadhaar no</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Father's name</th>
                                        <th>Gender</th>
                                        <th>Date of birth</th>
                                        <th>Age</th>
                                        <th>Marital status</th>
                                        <th>Caste</th>
                                        <th>Mobile no</th>
                                        <th>Alternate mobile no</th>
                                        <th>Survey location name</th>
                                        <th>Worker image</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of generalinfoReportdata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td>{{s.SURVEY_ID}}</td>
                                        <td>{{s.UID_ANY}}</td>
                                        <td>{{s.MASKED_UID_NO}}</td>
                                        <td>{{s.NAME}}</td>
                                        <td>{{s.SURNAME}}</td>
                                        <td>{{s.FATHER_NAME}}</td>
                                        <td>{{s.GENDER}}</td>
                                        <td>{{s.DATE_OF_BIRTH}}</td>
                                        <td>{{s.AGE}}</td>
                                        <td>{{s.MARITAL_STATUS}}</td>
                                        <td>{{s.CASTE}}</td>
                                        <td>{{s.MOBILE}}</td>
                                        <td>{{s.ALTER_MOBILE}}</td>
                                        <td>{{s.SURVEY_LOCATION_NAME}}</td>
                                        <td *ngIf="s.IMAGE_PATH == null || s.IMAGE_PATH == '' || s.IMAGE_PATH =='No'"><span>Image not upload</span></td>
                                        <td *ngIf="s.IMAGE_PATH != null && s.IMAGE_PATH != '' && s.IMAGE_PATH !='No'"> <span><a [routerLink]=""  (click)="ViewCatimg(s.IMAGE_PATH)"><img src="https://authbook.in/swach//assets/images/eye.svg" 
                                            alt="eye"></a></span></td>
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h5 class="modal-title" id="exampleModalLabel">Family Details</h5>
                    
                    <div class="col-12 col-xl-12 mt-2">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th>S.No</th>
                                        <th>Survey ID</th>
                                        <th>Have family</th>
                                        <th>Family members count</th>
                                        <th>Family member names</th>
                                        <th>Relation</th>
                                        <th>Date of birth</th>
                                        <th>Age</th>
                                        <th>Gender</th>
                                        <th>Marital status</th>
                                        <th>Vulnerable category </th>
                                        <th>Educational qualification</th>                                       
                                        <th>Address</th>
                                        <th>Are you at residence during survey</th>
                                        <th>Previous generation's of family  in same occupation</th>
                                        <th>Previous generation's count</th>
                                        <th>Previous generation's relationship with worker</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of familyinfodata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td>{{s.SURVEY_ID}}</td>
                                        <td>{{s.HAVE_FAMILY}}</td>
                                        <td>{{s.FAMILY_MEMBERS_COUNT}}</td>
                                        <td>{{s.FAMILY_MEMBERS_NAME }}</td>
                                        <td>{{s.RELATION}}</td>
                                        <td>{{s.DATE_OF_BIRTH}}</td>
                                        <td>{{s.AGE}}</td>
                                        <td>{{s.GENDER }}</td>
                                        <td>{{s.MARITAL_STATUS}}</td>
                                        <td>{{s.CATEGORY_NAME}}</td>                                     
                                        <td>{{s. EDUCATIONAL_STATUS_NAME}}</td>
                                        <td>{{s.ADDRESS}}</td>
                                        <td>{{s.AT_RESIDENCE_ON_SURVEY}}</td>                                     
                                        <td>{{s.PREVIOUS_GENERATIONS_INSAME_OCCUPATIONS }}</td>
                                        <td>{{s.MANY_GENERATIONS_COUNT}}</td> 
                                        <td *ngIf="s.PREVIOUS_GENERATIONS_NAME != 'Others'">{{s.PREVIOUS_GENERATIONS_NAME}}</td>
                                        <td *ngIf="s.PREVIOUS_GENERATIONS_NAME == 'Others'">{{s.PREVIOUS_GENERATIONS_OTHER_TEXT}}</td>
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h5 class="modal-title" id="exampleModalLabel">Job Role Information</h5>

                  

                    <div class="col-12 col-xl-12 mt-2">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th>S.No</th>
                                        <th>Survey ID</th>
                                        <th>Are you provided with ID card</th>
                                        <th>ID card image</th>
                                        <th>Are you provided with payslips</th>
                                        <th>Pay slips image</th>
                                        <th>Satisfied with payslips</th>
                                        <th>Do you have ID card in the current location</th>
                                        <th>ID card type</th>
                                      <!--   <th>ID Card Text</th> -->
                                        <th>Have you been allowed into House for Work</th>
                                        <th> Are you being provided with basic needs</th>
                                     <!--    <th>Provided Basic Needs Text</th> -->
                                        <th>Has water been provided to you during work at house</th>
                                        <th>Has water been provided to you in the same tumbler used by the house residents</th>
                                        <th>Have you been treated courteously</th>
                                        <th>How often</th>  
                                        <th>Is there any place to sit during work break</th>  
                                        <th>Type of employment</th>
                                        <th>Name of the employer</th> 
                                     <!--    <th>Employer Text</th> -->
                                        <th>Activities the worker is engaged with</th>
                                       <!--  <th>Other Activities Text</th> -->
                                        <th>Monthly working days</th>
                                        <th>Are you being paid full salary if work is not provided</th>
                                        <th>When are you getting salary paid</th>
                                        <th>Monthly income</th>
                                        <th>Covered under EPF</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of Jobroledata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td>{{s.SURVEY_ID}}</td>
                                        <td>{{s.PROVIDED_WITH_IDCARD}}</td>
                                       
                                        <td *ngIf="s.PROVIDED_IDCARD_IMAGEPATH == null || s.PROVIDED_IDCARD_IMAGEPATH == '' || s.PROVIDED_IDCARD_IMAGEPATH =='No'">Image not upload</td>
                                        <td *ngIf="s.PROVIDED_IDCARD_IMAGEPATH != null && s.PROVIDED_IDCARD_IMAGEPATH != '' && s.PROVIDED_IDCARD_IMAGEPATH !='No'">   <span ><a [routerLink]=""  (click)="ViewCatimg(s.PROVIDED_IDCARD_IMAGEPATH)"><img src="https://authbook.in/swach//assets/images/eye.svg" 
                                            alt="eye"></a></span></td>
                                         
                                        <td>{{s.PROVIDED_WITH_PAYSLIPS}}</td>
                                      
                                        <td *ngIf="s.PAYSLIPS_IMAGEGPATH == null || s.PAYSLIPS_IMAGEGPATH == '' || s.PAYSLIPS_IMAGEGPATH =='No'">Image not upload</td>
                                        <td *ngIf="s.PAYSLIPS_IMAGEGPATH != null && s.PAYSLIPS_IMAGEGPATH != '' && s.PAYSLIPS_IMAGEGPATH !='No'">   <span ><a [routerLink]=""  (click)="ViewCatimg(s.PAYSLIPS_IMAGEGPATH)"><img src="https://authbook.in/swach//assets/images/eye.svg" 
                                            alt="eye"></a></span></td>
                                        <td>{{s.SATISFIED_WITH_PAYSLIPS_PROVIDED}}</td>
                              
                                        <td>{{s.IDCARD_IN_CURRENT_LOCATION}}</td>
                                        <td *ngIf="s.CARD_NAME != 'Others'">{{s.CARD_NAME}}</td>
                                        <td *ngIf="s.CARD_NAME == 'Others'">{{s.IDCARD_CURRENT_LOCATION_TEXT}}</td>
                                        <!--<td>{{s.CARD_NAME}}</td>
                                        <td>{{s.IDCARD_CURRENT_LOCATION_TEXT}}</td>
                                         <th>Being Allowed into House for Work</th> -->
                                        <td>{{s.HOUSE_FOR_WORK}}</td> 
                                        <td *ngIf="s.PROVIDED_WITH_BASI_NEEDS != 'Others'">{{s.PROVIDED_WITH_BASI_NEEDS}}</td>
                                        <td *ngIf="s.PROVIDED_WITH_BASI_NEEDS == 'Others'">{{s.BASIC_NEEDS_OTHER_TEXT}}</td>
                                      <!--   <td>{{s.PROVIDED_WITH_BASI_NEEDS}}</td>
                                        <td>{{s.BASIC_NEEDS_OTHER_TEXT}}</td> -->
                                        
                                        <td>{{s.WATER_PROVIDED_ANY}}</td>
                                        <td>{{s.PROVIDED_IN_SEPARATE_TUMBLER_NAME}}</td>
                                      
                                        <td>{{s.TREATED_COURTEOUSLY_ANY}}</td>
                                        <td>{{s.BEING_TREATED}}</td> 
                                      
                                        <!-- <th>How Often</th>  -->
                                        <td>{{s.SIT_DURING_WORK_BREAK_ANY}}</td>
                                        <!-- <th>Type Of Employment</th> -->
                                        <td *ngIf="s.UNAUTHORIZED_TEXT == null || s.UNAUTHORIZED_TEXT == ''">{{s.EMPLOYMENT_TYPE_NAME}}</td>
                                        <td *ngIf="s.UNAUTHORIZED_TEXT != null && s.UNAUTHORIZED_TEXT != ''"> {{s.EMPLOYMENT_TYPE_NAME}} ({{s.UNAUTHORIZED_TEXT}})</td>
                                        <td *ngIf="s.EMPLOYER_NAME != 'Others'">{{s.EMPLOYER_NAME}}</td>
                                        <td *ngIf="s.EMPLOYER_NAME == 'Others'">{{s.EMPLOYER_TEXT}}</td>
                                      <!--   <td>{{s.EMPLOYER_NAME}}</td>
                                        <td>{{s.EMPLOYER_TEXT}}</td> 
                                        <td>{{s.ACTIVITIES_NAME}}</td>
                                        <td>{{s.ACTIVITIES_TEXT}}</td>-->
                                        <td *ngIf="s.ACTIVITIES_NAME != 'Others'">{{s.ACTIVITIES_NAME}}</td>
                                        <td *ngIf="s.ACTIVITIES_NAME == 'Others'">{{s.ACTIVITIES_TEXT}}</td>
                                        <!-- <th>Other Activities Text</th> -->
                                       
                                        <td>{{s.WORKING_DAYS_IN_MONTH}}</td>
                                        <td>{{s.BEING_PAID_FULL_SALARY}}</td>
                                        <!-- <th>Getting Salary Paid</th> -->
                                        <td>{{s.SALARY_DELAYED}}</td>
                                        <td>{{s.MONTHLY_INCOME_AMOUNT}}</td>
                                        <td>{{s.UNDER_EPF}}</td>   
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <h5 class="modal-title" id="exampleModalLabel">Socio-Economic Information</h5>
                    
                    <div class="col-12 col-xl-12 mt-2">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th>S.No</th>
                                        <th>Survey Id</th>
                                        <th>How did you get into sanitation work</th>
                                        <th> Other sanitation  </th>
                                        <th> Are you being paid monthly  or on daily basis</th>
                                        <th>How are you paid for the work you do</th>
                                        <th>Bank Name</th>
                                        <th>Account No</th>
                                        <th>IFSC Code</th>
                                      
                                        <th>Do you currently live in own or rent house</th>
                                        <th>What type of house do you live in</th>
                                        <!-- <th>Type of House Other</th> -->
                                        <th>House location</th>
                                     <!--    <th>House Location Other</th> -->
                                        <th>Have you taken any loans</th>                                        
                                        <th>Loan type</th>
                                       <!--  <th>Loan Type Other</th> -->
                                        <th>Amount of loan you have taken</th>
                                        <th>Rate of interest</th>
                                       <!--  <th>Rate of Interest Text</th> -->
                                        <th>Have you repaid the loan</th>
                                        <th>Repayment of loan other</th> 
                                        <th> Are you engaged in any  alternative livelihoods too</th>
                                        <th>What kind of livelihood are you engaged in</th>
                                        <th>Livelihood  others</th>
                                      <!--   <th>Livelihood Other</th> -->
                                        <th>Have you taken occupational safety training</th>
                                       <!--  <th>Safety Training Other</th> -->
                                        <th>No.of training hours</th>
                                        <th>Training certificate image</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of SocioReportdata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td>{{s.SURVEY_ID}}</td>
                                        <td>{{s.SANITATION_WORK_NAME}}</td>
                                        <td>{{s.sanitation_work_other}}</td>
                                        <td>{{s.MONTHLY_OR_DAILY_BASIS}}</td>
                                        <td>{{s.PAID_FOR_THE_WORK}}</td>
                                        <td>{{s.BANK_NAME}}</td>
                                        <td>{{s.ACCOUNT_NO}}</td>
                                        <td>{{s.IFSC_CODE}}</td>
                                       
                                        <td>{{s.OWN_OR_RENT}}</td>
                                        <td>{{s.TYPE_OF_HOUSE_NAME}}</td>                                        
                                       <!--  <td>{{s.HOUSE_LOCATION}}</td>
                                        <td>{{s.HOUSE_LOCATION_OTHERS}}</td> -->
                                        <td *ngIf="s.HOUSE_LOCATION != 'Others'">{{s.HOUSE_LOCATION}}</td>
                                        <td *ngIf="s.HOUSE_LOCATION == 'Others'">{{s.HOUSE_LOCATION_OTHERS}}</td>
                                        <!-- have you taken any loans -->
                                        <td>{{s.HAVE_ANY_LOANS}}</td>
                                       <!--  <td>{{s.LOAN_TYPE}}</td>
                                        <td>{{s.LOAN_TYPE_OTHER}}</td> -->
                                        <td *ngIf="s.LOAN_TYPE != 'Others'">{{s.LOAN_TYPE}}</td>
                                        <td *ngIf="s.LOAN_TYPE == 'Others'">{{s.LOAN_TYPE_OTHER}}</td>
                                        <!-- Amount of loan taken -->
                                        <td>{{s.LOAN_AMOUNT_TAKEN_NAME}}</td>
                                      
                                        <td *ngIf="s.RATE_OF_INTEREST != 'Others'">{{s.RATE_OF_INTEREST}}</td>
                                        <td *ngIf="s.RATE_OF_INTEREST == 'Others'">{{s.LOAN_INTREST_RATE_OTHERS}}</td>
                                        <td>{{s.RE_PAY_LOAN}}</td>
                                        <td *ngIf="(s.REASONS_NAME != 'Any Other,Please Specify') || s.REASONS_NAME == '' || s.REASONS_NAME == null">{{s.REASONS_NAME}}</td>
                                        <td *ngIf="s.REASONS_NAME == 'Any Other,Please Specify'">{{s.LOAN_PAYMENT_DELAY_OTHER}}</td>
                                      
                                   
                                        <td>{{s.ALTERNATE_LIVELIHOODS}}</td>
                                        <td >{{s.LIVELIHOOD_NAME}}</td>
                                        <td>{{s.LIVELIHOOD_OTHERS_TEXT}}</td>
                                     <!--    <td>{{s.LIVELIHOOD_NAME}}</td>
                                        <td>{{s.LIVELIHOOD_OTHERS_TEXT}}</td> -->
                                      
                                        <td *ngIf="s.SAFETY_TRAINING_NAME != 'Others'">{{s.SAFETY_TRAINING_NAME}}</td>
                                        <td *ngIf="s.SAFETY_TRAINING_NAME == 'Others'">{{s.CAPACITY_BUILDING_NAME_OTHERS}}</td>
                                        <td>{{s.TRAINING_HR_NAME}}</td>
                                        <!-- <td>{{s.CAPACITY_BUILDING_NAME_OTHERS}}</td> -->
                                       
                                        <td *ngIf="s.CERTIFICATE_IMAGE == null || s.CERTIFICATE_IMAGE == '' || s.CERTIFICATE_IMAGE =='No'">Image not upload</td>
                                        <td *ngIf="s.CERTIFICATE_IMAGE != null && s.CERTIFICATE_IMAGE != '' && s.CERTIFICATE_IMAGE !='No'">   <span ><a [routerLink]=""  (click)="ViewCatimg(s.CERTIFICATE_IMAGE)"><img src="https://authbook.in/swach//assets/images/eye.svg" 
                                            alt="eye"></a></span></td>
                                      
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <h5 class="modal-title" id="exampleModalLabel">Health Details</h5>
                   
                    <div class="col-12 col-xl-12 mt-2">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th>S.No</th>
                                        <th>Survey ID</th>
                                        <th>Are you permanently disabled </th>
                                        <th>Permanently disabled type</th>
                                        <th>How did you become permanently disabled</th>
                                        <th>Has there been a death during the sanitation work</th>
                                        <th>Where the sanitation death occured </th>
                                        <th>During which sanitation work the death occured</th>
                                        <th>Have you previously suffered from any occupational related health complications</th> 
                                        <th>Previous health issues</th>                                        
                                        <th>Sub-Previous health issues</th>
                                        <th>Previous health issues Other</th>
                                        <th>Are you currently suffering from any occupational related health complications</th>
                                        <th>Current health issues</th>
                                        <th>Sub-current health issues</th>
                                        <th>Current health issues other</th>
                                        <th>Do you have any insurance </th>
                                        <th>Insurance type</th>
                                        <th >Insurance type other</th>
                                        <th>Have you consulted doctor for health checkup</th>
                                        <th>Where was the health checkup done </th>
                                        <th>When was the health checkup done date</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of Insurencedata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td>{{s.SURVEY_ID}}</td>
                                        <td>{{s.PERMANENT_DISABLED_ANY}}</td>
                                        <td *ngIf="s.PERMANENT_DISABLED_NAME != 'Others'">{{s.PERMANENT_DISABLED_NAME}}</td>
                                        <td *ngIf="s.PERMANENT_DISABLED_NAME == 'Others'">{{s.PERMANENT_DISABLED_OTHER_TEXT}}</td>
                                        <td *ngIf="s.PERMANENT_DISABLED_TEXT != 'Others'">{{s.PERMANENT_DISABLED_TEXT}}</td>
                                        <td *ngIf="s.PERMANENT_DISABLED_TEXT == 'Others'">{{s.PERMANENTLY_DISABLED_OTHER}}</td>
                                        <td>{{s.DEATH_SANITATION_WORK_ANY}}</td>
                                        <td>{{s.SANITATION_DEATH_NAME}}</td>
                                        <td *ngIf="s.DEATH_SANITATION_WORK_NAME != 'Others'">{{s.DEATH_SANITATION_WORK_NAME}}</td>
                                        <td *ngIf="s.DEATH_SANITATION_WORK_NAME == 'Others'">{{s.SANITATION_WORK_DEATH_OTHER}}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_ANY}}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_NAME}}</td>  
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_SUB_NAME}}</td>                                      
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_OTHER}}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_ANY}}</td>                                       
                                        <td>{{s.CURRENT_HEALTH_ISSUE_NAME }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_SUB_NAME}}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_OTHER}}</td>
                                        <!-- <th>Have any Insurance to be Added </th> -->
                                        <td>{{s.HAVE_INSURANCE_ANY}}</td>
                                        <td>{{s.INSURANCE_NAME}}</td>
                                        <td >{{s.INSURANCE_OTHER}}</td>
                                        <td>{{s.HEALTH_CHECKUP_ANY}}</td>
                                        <td *ngIf="s.HEALTH_CHECKUP_DONE != 'Others'">{{s.HEALTH_CHECKUP_DONE}}</td>
                                        <td *ngIf="s.HEALTH_CHECKUP_DONE == 'Others'">{{s.HEALTH_CHECKUP_OTHER_TEXT}}</td>
                                        <td>{{s.HEALTH_CHECKUP_OTHER}}</td>
                                     
                                     
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
<!-- 
                    <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
                    
                    <div class="col-12 col-xl-12 mt-2">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th>S.No</th>
                                        <th>Survey Id</th>
                                        <th>Add Any Questions In Survey</th>
                                        <th>Remove Any Questions In Survey</th>
                                        <th>Feedback and Suggestions</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of feedbackdata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td>{{s.SURVEY_ID}}</td>
                                        <td>{{s.ADD_ANY_QUESTIONS_INSURVEY}}</td>
                                        <td>{{s.REMOVE_ANY_QUESTIONS_INSURVEY}}</td>
                                        <td>{{s.FEEDBACK_AND_SUGGESTIONS}}</td>
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        </div>
                    </div> -->


                
                   


                  
                </from>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="addImageModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true"
    [ngStyle]="{'display':Imagedisplay}" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" (click)="imgmodalclose()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <from class="enquiry-form">

                    <div class="col-lg-12">
                        <div class="row">





                            <img [src]="img" height="100px" width="100px" style="height: auto;" />






                        </div>


                    </div>
                </from>
            </div>

        </div>
    </div>
</div>