<p>barchart works!</p>
<div id="chartdiv" style="height: 500px;width: 100%;"></div>

<div id="demoDW">
    <table id="demoDT">
    <thead>
      <tr>
        <th>Head</th><th>Head</th>
        <th>Head</th><th>Head</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Head</th>
        <td>Cell</td><td>Cell</td><td>Cell</td>
      </tr>
      <tr>
        <th>Head</th>
        <td>Cell</td><td>Cell</td><td>Cell</td>
      </tr>
    </tbody>
  </table></div>
