#demoDW {
    max-height: 200px;
    overflow: auto;
  }
   
  /* (B) STICKY HEADERS */
  #demoDT thead, #demoDT th { position: sticky; }
  #demoDT thead { top: 0; z-index: 2; }
  #demoDT th { left: 0; z-index: 1; }
   
  /* (X) COSMETICS - NOT IMPORTANT */
  #demoDT th, #demoDT td {
    font-size: 20px;
    padding: 10px;
    text-align: left;
    min-width: 300px;
  }
  #demoDT thead th { background: #b7ffd5; }
  #demoDT th { background: #ffebec; }
  #demoDT td { background: #e4ebff; }