<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - EDUCATIONAL DATA REPORTS</h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-3" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <label class="form-label me-3">Andhra Pradesh</label>
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')" class="me-2" >
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                  <!--   <button type="button" (click)="GetSurveyReportdata()" class="btn btn-primary btn-sm mt-1">GET</button> -->
                </div>
                <div class="row align-items-center justify-content-center">
                   
                    <div class="col-12 col-xl-2" *ngIf="Reportlevel !='0'">
                        <label class="form-label">District : </label>
                        <label class="form-label" style="color: green;">{{District}}</label>
                    </div>
                    <div class="col-12 col-xl-2" *ngIf="Reportlevel !='1' && Reportlevel !='0'">
                        <span *ngIf="Swatch_Ur =='U'"><label class="form-label">Urban : </label> </span>
                        <span *ngIf="Swatch_Ur !='U'"><label class="form-label">Mandal : </label> </span>
                        <label class="form-label" style="color: green;">{{Mandal}}</label>
                       
                    </div>
                    <div class="col-12 col-xl-3" *ngIf="Reportlevel =='3'">
                        <label class="form-label">Grampanchayat/Ward : </label>
                        <label class="form-label" style="color: green;">{{Gp}}</label>
                       
                    </div>
                  
                </div>  
                <div class="row" *ngIf="Reportlevel =='0'">
                    <div class="col-12 col-xl-12 text-end">
                        <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                    </div>
                </div>
                <div class="row" *ngIf="Reportlevel !='0'">
                    <div class="col-6 col-xl-6 text-start mb-0" *ngIf="Reportlevel !='0'">
                        <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button>
                    </div>
                    <div class="col-6 col-xl-6 text-end">
                        <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                    </div>
                </div>
                <div *ngIf="Swatch_Ur == 'U'" > <span style="color: red;">Note : Below records are considered as municipal commissioner approved records</span></div>
                <div *ngIf="Swatch_Ur == 'R'" > <span style="color: red;">Note : Below records are considered as dpo approved records</span></div>
                <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='0'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>
                                      
                                        <th colspan="3"  ></th>
                                        <th colspan="44"  > Core Sanitation Workers Educational Status</th>
                                        <th colspan="44"  > Core Sanitation Workers Family Educational Status</th>
                                    </tr>
                                    
                                    <tr >
                                       
                                        <th colspan="3"  ></th>
                                        <th  colspan="4"  >Illiterate</th>
                                        <th colspan="4"  >Functional Literacy</th>
                                        <th colspan="4"  >Till 5th std.</th>
                                        <th colspan="4"  >Till 8th std.</th>
                                        <th colspan="4"  >Till 10th std.</th>
                                        <th colspan="4"  >Till 12th std.</th>
                                        <th colspan="4"  >Diploma-Vocational</th>
                                        <th colspan="4"  >Diploma-Professional</th>
                                        <th colspan="4"  >Graduation</th>
                                        <th colspan="4"  >Post Graduation</th>
                                        <th colspan="4"  >PhD</th>

                                        <th colspan="4"  >Illiterate</th>
                                        <th colspan="4"  >Functional Literacy</th>
                                        <th colspan="4"  >Till 5th std.</th>
                                        <th colspan="4"  >Till 8th std.</th>
                                        <th colspan="4"  >Till 10th std.</th>
                                        <th colspan="4"  >Till 12th std.</th>
                                        <th colspan="4"  >Diploma-Vocational</th>
                                        <th colspan="4"  >Diploma-Professional</th>
                                        <th colspan="4"  >Graduation</th>
                                        <th colspan="4"  >Post Graduation</th>
                                        <th colspan="4"  >PhD</th>

                                    </tr>
                                    <tr>
                                        <th rowspan="3" colspan="1"  >S.No</th>
                                        <th rowspan="3" colspan="1"  >District</th>
                                        <th rowspan="3" colspan="1"  >Total Surveyed</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th> Total</th>
                                   

                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr *ngFor="let s of SurveyReportdata;let sno=index;">
                                        <td *ngIf="s.DISTRICT_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.DISTRICT_NAME =='Total'"></td>
                                        <td *ngIf="s.DISTRICT_NAME =='Total'" style="color: blue;">{{s.DISTRICT_NAME}}</td>
                                        <td *ngIf="s.DISTRICT_NAME !='Total'"> <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetMandalSurveyReportdata(s.DISTRICT_ID,s.DISTRICT_NAME)">{{s.DISTRICT_NAME}}</a></span></td>
                                        <td>{{s.TOTAL_SURVEYED}}</td>
                                        
                                        <td>{{s.MALE_NOT_LITERATE}}</td>
                                        <td>{{s.FEMALE_NOT_LITERATE}}</td>
                                        <td>{{s.TRANSGENDER_NOT_LITERATE}}</td>
                                        <td>{{s.TOTAL_GENDER_NOT_LITERATE}}</td>
                                        
                                        <td>{{s.MALE_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.FEMALE_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TOTAL_GENDER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TRANSGENDER_FUNCTIONAL_LITERACY}}</td>

                                        <td>{{s.MALE_UPTO_5TH_STD}} </td>
                                        <td>{{s.FEMALE_UPTO_5TH_STD}} </td>
                                        <td> {{s.TRANSGENDER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_5TH_STD}}</td>

                                        <td> {{s.MALE_UPTO_8TH_STD}} </td>
                                        <td> {{s.FEMALE_UPTO_8TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_8TH_STD}} </td>
                                        <td> {{s.TOTAL_GENDER_UPTO_8TH_STD}}</td>
                                       
                                        
                                        <td> {{s.MALE_UPTO_10TH_STD}}</td>
                                        <td> {{s.FEMALE_UPTO_10TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_10TH_STD}}</td>

                                        <td> {{s.MALE_UPTO_12TH_STD}}</td>
                                        <td> {{s.FEMALE_UPTO_12TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_12TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_12TH_STD}}</td>

                                        <td>{{s.MALE_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.FEMALE_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TRANSGENDER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_DIPLOMA_VOCATIONAL}}</td>

                                        <td>{{s.MALE_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.FEMALE_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TRANSGENDER_DIPLOMA_PROFESSIONAL }}</td>
                                        <td>{{s.TOTAL_GENDER_DIPLOMA_PROFESSIONAL}}</td>

                                        <td> {{s.MALE_GRADUATION}}</td>
                                        <td> {{s.FEMALE_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_GRADUATION}}</td>

                                        <td> {{s.MALE_POST_GRADUATION}}</td>
                                        <td> {{s.FEMALE_POST_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_POST_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_POST_GRADUATION}}</td>

                                        <td> {{s.MALE_PHD}}</td>
                                        <td> {{s.FEMALE_PHD}}</td>
                                        <td> {{s.TOTAL_GENDER_PHD}}</td>
                                        <td> {{s.TRANSGENDER_PHD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_NOT_LITERATE }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_NOT_LITERATE}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_NOT_LITERATE}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_NOT_LITERATE}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_5TH_STD }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_5TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_8TH_STD  }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_8TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_8TH_STD}} </td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_8TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_10TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_12TH_STD}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_12TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_12TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_12TH_STD}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_GRADUATION}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_POST_GRADUATION }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_POST_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_POST_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_POST_GRADUATION}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_PHD }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_PHD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_PHD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_MEMBER_PHD}}</td>

                                        
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                       
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='1'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover"  style="text-align: center">
                                <thead>
                                    <tr>
                                     
                                        <th colspan="3" *ngIf="Swatch_Ur =='R'"  ></th>
                                        <th colspan="4" *ngIf="Swatch_Ur =='U'"  ></th>
                                      
                                        <th colspan="44"  > Core Sanitation Workers Educational Status</th>
                                        <th colspan="44"  > Core Sanitation Workers Family Educational Status</th>
                                    </tr>
                                    
                                   
                                    <tr >
                                        <th colspan="3" *ngIf="Swatch_Ur =='R'"  ></th>
                                        <th colspan="4" *ngIf="Swatch_Ur =='U'"  ></th>
                                      
                                       
                                        <th  colspan="4"   >Illiterate</th>
                                        <th colspan="4"  >Functional Literacy</th>
                                        <th colspan="4"  >Till 5th std.</th>
                                        <th colspan="4"  >Till 8th std.</th>
                                        <th colspan="4"  >Till 10th std.</th>
                                        <th colspan="4"  >Till 12th std.</th>
                                        <th colspan="4"  >Diploma-Vocational</th>
                                        <th colspan="4"  >Diploma-Professional</th>
                                        <th colspan="4"  >Graduation</th>
                                        <th colspan="4"  >Post Graduation</th>
                                        <th colspan="4"  >PhD</th>

                                        <th colspan="4"  >Illiterate</th>
                                        <th colspan="4"  >Functional Literacy</th>
                                        <th colspan="4"  >Till 5th std.</th>
                                        <th colspan="4"  >Till 8th std.</th>
                                        <th colspan="4"  >Till 10th std.</th>
                                        <th colspan="4"  >Till 12th std.</th>
                                        <th colspan="4"  >Diploma-Vocational</th>
                                        <th colspan="4"  >Diploma-Professional</th>
                                        <th colspan="4"  >Graduation</th>
                                        <th colspan="4"  >Post Graduation</th>
                                        <th colspan="4"  >PhD</th>

                                    </tr>
                                    <tr>
                                        <th rowspan="3" colspan="1"  >S.No</th>
                                        <th rowspan="3" colspan="1" *ngIf="Swatch_Ur =='R'"  >Mandal</th>
                                        <th rowspan="3" colspan="1" *ngIf="Swatch_Ur =='U'"  >Urban Local Body</th>
                                        <th rowspan="3" colspan="1" *ngIf="Swatch_Ur =='U'"  >Urban Local Body(ULB) Code</th>
                                        <th rowspan="3" colspan="1"  >Total Surveyed</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                   

                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr *ngFor="let s of MandalSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.MANDAL_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.MANDAL_NAME =='Total'"></td>
                                      
                                        <td *ngIf="s.MANDAL_NAME =='Total'" style="color: blue;">{{s.MANDAL_NAME}}</td>
                                        <td *ngIf="s.MANDAL_NAME !='Total'">  <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetGpSurveyReportdata(s.MANDAL_NAME,s.MANDAL_ID)">{{s.MANDAL_NAME}}</a></span></td>
                                       <td *ngIf="Swatch_Ur =='U' && s.MANDAL_NAME !='Total'">{{s.MANDAL_ID}}</td>
                                       <td *ngIf="Swatch_Ur =='U' && s.MANDAL_NAME =='Total'"></td>
                                        <td>{{s.TOTAL_SURVEYED}}</td>
                                        
                                        <td>{{s.MALE_NOT_LITERATE}}</td>
                                        <td>{{s.FEMALE_NOT_LITERATE}}</td>
                                        <td>{{s.TRANSGENDER_NOT_LITERATE}}</td>
                                        <td>{{s.TOTAL_GENDER_NOT_LITERATE}}</td>
                                        
                                        <td>{{s.MALE_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.FEMALE_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TOTAL_GENDER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TRANSGENDER_FUNCTIONAL_LITERACY}}</td>

                                        <td>{{s.MALE_UPTO_5TH_STD}} </td>
                                        <td>{{s.FEMALE_UPTO_5TH_STD}} </td>
                                        <td> {{s.TRANSGENDER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_5TH_STD}}</td>

                                        <td> {{s.MALE_UPTO_8TH_STD}} </td>
                                        <td> {{s.FEMALE_UPTO_8TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_8TH_STD}} </td>
                                        <td> {{s.TOTAL_GENDER_UPTO_8TH_STD}}</td>
                                       
                                        
                                        <td> {{s.MALE_UPTO_10TH_STD}}</td>
                                        <td> {{s.FEMALE_UPTO_10TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_10TH_STD}}</td>

                                        <td> {{s.MALE_UPTO_12TH_STD}}</td>
                                        <td> {{s.FEMALE_UPTO_12TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_12TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_12TH_STD}}</td>

                                        <td>{{s.MALE_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.FEMALE_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TRANSGENDER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_DIPLOMA_VOCATIONAL}}</td>

                                        <td>{{s.MALE_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.FEMALE_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TRANSGENDER_DIPLOMA_PROFESSIONAL }}</td>
                                        <td>{{s.TOTAL_GENDER_DIPLOMA_PROFESSIONAL}}</td>

                                        <td> {{s.MALE_GRADUATION}}</td>
                                        <td> {{s.FEMALE_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_GRADUATION}}</td>

                                        <td> {{s.MALE_POST_GRADUATION}}</td>
                                        <td> {{s.FEMALE_POST_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_POST_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_POST_GRADUATION}}</td>

                                        <td> {{s.MALE_PHD}}</td>
                                        <td> {{s.FEMALE_PHD}}</td>
                                        <td> {{s.TOTAL_GENDER_PHD}}</td>
                                        <td> {{s.TRANSGENDER_PHD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_NOT_LITERATE }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_NOT_LITERATE}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_NOT_LITERATE}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_NOT_LITERATE}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_5TH_STD }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_5TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_8TH_STD  }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_8TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_8TH_STD}} </td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_8TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_10TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_12TH_STD}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_12TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_12TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_12TH_STD}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_GRADUATION}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_POST_GRADUATION }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_POST_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_POST_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_POST_GRADUATION}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_PHD }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_PHD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_PHD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_MEMBER_PHD}}</td>

                                        
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='2'" >
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>
                                       
                                        <th colspan="3" *ngIf="Swatch_Ur =='U'"  ></th>
                                        <th colspan="4" *ngIf="Swatch_Ur =='R'"  ></th>
                                        <th colspan="44"  > Core Sanitation Workers Educational Status</th>
                                        <th colspan="44"  > Core Sanitation Workers Family Educational Status</th>
                                    </tr>
                                    
                                   
                                    <tr >
                                       
                                        <th colspan="3" *ngIf="Swatch_Ur =='U'"  ></th>
                                        <th colspan="4" *ngIf="Swatch_Ur =='R'"  ></th>
                                        <th  colspan="4"  >Illiterate</th>
                                        <th colspan="4"  >Functional Literacy</th>
                                        <th colspan="4"  >Till 5th std.</th>
                                        <th colspan="4"  >Till 8th std.</th>
                                        <th colspan="4"  >Till 10th std.</th>
                                        <th colspan="4"  >Till 12th std.</th>
                                        <th colspan="4"  >Diploma-Vocational</th>
                                        <th colspan="4"  >Diploma-Professional</th>
                                        <th colspan="4"  >Graduation</th>
                                        <th colspan="4"  >Post Graduation</th>
                                        <th colspan="4"  >PhD</th>

                                        <th colspan="4"  >Illiterate</th>
                                        <th colspan="4"  >Functional Literacy</th>
                                        <th colspan="4"  >Till 5th std.</th>
                                        <th colspan="4"  >Till 8th std.</th>
                                        <th colspan="4"  >Till 10th std.</th>
                                        <th colspan="4"  >Till 12th std.</th>
                                        <th colspan="4"  >Diploma-Vocational</th>
                                        <th colspan="4"  >Diploma-Professional</th>
                                        <th colspan="4"  >Graduation</th>
                                        <th colspan="4"  >Post Graduation</th>
                                        <th colspan="4"  >PhD</th>

                                    </tr>
                                    <tr>
                                        <th rowspan="3" colspan="1"  >S.No</th>
                                        <th rowspan="3" colspan="1" *ngIf="Swatch_Ur =='R'">Gram panchayat</th>
                                        <th rowspan="3" colspan="1" *ngIf="Swatch_Ur =='R'">GP(LGD)Code</th>
                                        <th rowspan="3" colspan="1" *ngIf="Swatch_Ur =='U'">Ward</th>
                                        
                                        <th rowspan="3" colspan="1"  >Total Surveyed</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                   

                                    </tr>
                                    
                                </thead>
                                <tbody>
                                   
                                    <tr *ngFor="let s of GpSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'" style="color: blue;"> {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td *ngIf="( Swatch_Ur =='U' && s.WARD_OR_VILLAGE_NAME !='Total' && s.WARD_OR_VILLAGE_NAME !='Total' && Mandal == 'Penamaluru' ) || (Swatch_Ur =='U' && Mandal == 'Ysr Tadigadapa')">  
                                            
                                            <span ><a [routerLink]="" style="
                                                color: green;
                                                text-decoration: underline;
                                                text-decoration-color: #8f867c;
                                              " (click)="GetModaldata(s.WARD_OR_VILLAGE_ID,'U')">{{s.WARD_OR_VILLAGE_NAME}}</a></span></td>


                                         <td *ngIf=" ( Swatch_Ur =='U' && s.WARD_OR_VILLAGE_NAME !='Total' && s.WARD_OR_VILLAGE_NAME !='Total' && Mandal != 'Penamaluru' ) && (Swatch_Ur =='U' && Mandal != 'Ysr Tadigadapa')">   
                                            
                                            <span ><a [routerLink]="" style="
                                                color: green;
                                                text-decoration: underline;
                                                text-decoration-color: #8f867c;
                                              " (click)="GetModaldata(s.WARD_OR_VILLAGE_ID,'U')"> Ward No{{s.WARD_OR_VILLAGE_NAME}}</a></span></td>
                                            
                                           
                                        <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME !='Total'"> <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetVillageSurveyReportdata(s.WARD_OR_VILLAGE_NAME,s.WARD_OR_VILLAGE_ID)">{{s.WARD_OR_VILLAGE_NAME}}</a></span></td>
                                        
                                        <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME !='Total'">{{s.WARD_OR_VILLAGE_ID}}</td>
                                        <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td>{{s.TOTAL_SURVEYED}}</td>
                                        
                                        <td>{{s.MALE_NOT_LITERATE}}</td>
                                        <td>{{s.FEMALE_NOT_LITERATE}}</td>
                                        <td>{{s.TRANSGENDER_NOT_LITERATE}}</td>
                                        <td>{{s.TOTAL_GENDER_NOT_LITERATE}}</td>
                                        
                                        <td>{{s.MALE_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.FEMALE_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TOTAL_GENDER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TRANSGENDER_FUNCTIONAL_LITERACY}}</td>

                                        <td>{{s.MALE_UPTO_5TH_STD}} </td>
                                        <td>{{s.FEMALE_UPTO_5TH_STD}} </td>
                                        <td> {{s.TRANSGENDER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_5TH_STD}}</td>

                                        <td> {{s.MALE_UPTO_8TH_STD}} </td>
                                        <td> {{s.FEMALE_UPTO_8TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_8TH_STD}} </td>
                                        <td> {{s.TOTAL_GENDER_UPTO_8TH_STD}}</td>
                                       
                                        
                                        <td> {{s.MALE_UPTO_10TH_STD}}</td>
                                        <td> {{s.FEMALE_UPTO_10TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_10TH_STD}}</td>

                                        <td> {{s.MALE_UPTO_12TH_STD}}</td>
                                        <td> {{s.FEMALE_UPTO_12TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_12TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_12TH_STD}}</td>

                                        <td>{{s.MALE_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.FEMALE_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TRANSGENDER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_DIPLOMA_VOCATIONAL}}</td>

                                        <td>{{s.MALE_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.FEMALE_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TRANSGENDER_DIPLOMA_PROFESSIONAL }}</td>
                                        <td>{{s.TOTAL_GENDER_DIPLOMA_PROFESSIONAL}}</td>

                                        <td> {{s.MALE_GRADUATION}}</td>
                                        <td> {{s.FEMALE_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_GRADUATION}}</td>

                                        <td> {{s.MALE_POST_GRADUATION}}</td>
                                        <td> {{s.FEMALE_POST_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_POST_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_POST_GRADUATION}}</td>

                                        <td> {{s.MALE_PHD}}</td>
                                        <td> {{s.FEMALE_PHD}}</td>
                                        <td> {{s.TOTAL_GENDER_PHD}}</td>
                                        <td> {{s.TRANSGENDER_PHD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_NOT_LITERATE }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_NOT_LITERATE}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_NOT_LITERATE}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_NOT_LITERATE}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_5TH_STD }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_5TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_8TH_STD  }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_8TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_8TH_STD}} </td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_8TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_10TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_12TH_STD}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_12TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_12TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_12TH_STD}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_GRADUATION}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_POST_GRADUATION }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_POST_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_POST_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_POST_GRADUATION}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_PHD }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_PHD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_PHD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_MEMBER_PHD}}</td>

                                        
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='3'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover"  style="text-align: center">
                                <thead>
                                    <tr>
                                       
                                        <th colspan="4"  ></th>
                                        <th colspan="44"  > Core Sanitation Workers Educational Status</th>
                                        <th colspan="44"  > Core Sanitation Workers Family Educational Status</th>
                                    </tr>
                                    
                                   
                                    <tr>
                                       
                                        <th rowspan="3" colspan="1"  >S.No</th>
                                        <th rowspan="3" colspan="1" >Village</th>
                                        <th rowspan="3" colspan="1" >Village RevenueCode</th>
                                        
                                        
                                        <th rowspan="3" colspan="1"  >Total Surveyed</th>
                                        <th  colspan="4"  >Illiterate</th>
                                        <th colspan="4"  >Functional Literacy</th>
                                        <th colspan="4"  >Till 5th std.</th>
                                        <th colspan="4"  >Till 8th std.</th>
                                        <th colspan="4"  >Till 10th std.</th>
                                        <th colspan="4"  >Till 12th std.</th>
                                        <th colspan="4"  >Diploma-Vocational</th>
                                        <th colspan="4"  >Diploma-Professional</th>
                                        <th colspan="4"  >Graduation</th>
                                        <th colspan="4"  >Post Graduation</th>
                                        <th colspan="4"  >PhD</th>

                                        <th colspan="4"  >Illiterate</th>
                                        <th colspan="4"  >Functional Literacy</th>
                                        <th colspan="4"  >Till 5th std.</th>
                                        <th colspan="4"  >Till 8th std.</th>
                                        <th colspan="4"  >Till 10th std.</th>
                                        <th colspan="4"  >Till 12th std.</th>
                                        <th colspan="4"  >Diploma-Vocational</th>
                                        <th colspan="4"  >Diploma-Professional</th>
                                        <th colspan="4"  >Graduation</th>
                                        <th colspan="4"  >Post Graduation</th>
                                        <th colspan="4"  >PhD</th>

                                    </tr>
                                    <tr>

                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                    <th >Male</th>
                                    <th >Female</th>
                                    <th >Transgender</th>
                                    <th>Total</th>
                                   

                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr *ngFor="let s of VillageSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                      
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">  <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetModaldata(s.WARD_OR_VILLAGE_ID,'R')">{{s.WARD_OR_VILLAGE_NAME}}</a></span></td>
                                        
                                     
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'" style="color: blue;">{{s.WARD_OR_VILLAGE_NAME}}</td>
                                     
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{s.WARD_OR_VILLAGE_ID}}</td>
                                        <td>{{s.TOTAL_SURVEYED}}</td>
                                        
                                        <td>{{s.MALE_NOT_LITERATE}}</td>
                                        <td>{{s.FEMALE_NOT_LITERATE}}</td>
                                        <td>{{s.TRANSGENDER_NOT_LITERATE}}</td>
                                        <td>{{s.TOTAL_GENDER_NOT_LITERATE}}</td>
                                        
                                        <td>{{s.MALE_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.FEMALE_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TOTAL_GENDER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TRANSGENDER_FUNCTIONAL_LITERACY}}</td>

                                        <td>{{s.MALE_UPTO_5TH_STD}} </td>
                                        <td>{{s.FEMALE_UPTO_5TH_STD}} </td>
                                        <td> {{s.TRANSGENDER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_5TH_STD}}</td>

                                        <td> {{s.MALE_UPTO_8TH_STD}} </td>
                                        <td> {{s.FEMALE_UPTO_8TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_8TH_STD}} </td>
                                        <td> {{s.TOTAL_GENDER_UPTO_8TH_STD}}</td>
                                       
                                        
                                        <td> {{s.MALE_UPTO_10TH_STD}}</td>
                                        <td> {{s.FEMALE_UPTO_10TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_10TH_STD}}</td>

                                        <td> {{s.MALE_UPTO_12TH_STD}}</td>
                                        <td> {{s.FEMALE_UPTO_12TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_UPTO_12TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_UPTO_12TH_STD}}</td>

                                        <td>{{s.MALE_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.FEMALE_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TRANSGENDER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_DIPLOMA_VOCATIONAL}}</td>

                                        <td>{{s.MALE_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.FEMALE_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TRANSGENDER_DIPLOMA_PROFESSIONAL }}</td>
                                        <td>{{s.TOTAL_GENDER_DIPLOMA_PROFESSIONAL}}</td>

                                        <td> {{s.MALE_GRADUATION}}</td>
                                        <td> {{s.FEMALE_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_GRADUATION}}</td>

                                        <td> {{s.MALE_POST_GRADUATION}}</td>
                                        <td> {{s.FEMALE_POST_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_POST_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_POST_GRADUATION}}</td>

                                        <td> {{s.MALE_PHD}}</td>
                                        <td> {{s.FEMALE_PHD}}</td>
                                        <td> {{s.TOTAL_GENDER_PHD}}</td>
                                        <td> {{s.TRANSGENDER_PHD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_NOT_LITERATE }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_NOT_LITERATE}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_NOT_LITERATE}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_NOT_LITERATE}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_FUNCTIONAL_LITERACY}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_5TH_STD }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_5TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_5TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_8TH_STD  }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_8TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_8TH_STD}} </td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_8TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_10TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_10TH_STD}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_UPTO_12TH_STD}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_UPTO_12TH_STD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_UPTO_12TH_STD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_UPTO_12TH_STD}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_DIPLOMA_VOCATIONAL}}</td>

                                        <td>{{s.MALE_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.FEMALE_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TRANSGENDER_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>
                                        <td>{{s.TOTAL_GENDER_FAMILY_MEMBER_DIPLOMA_PROFESSIONAL}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_GRADUATION}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_POST_GRADUATION }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_POST_GRADUATION}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_POST_GRADUATION}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_POST_GRADUATION}}</td>

                                        <td> {{s.MALE_FAMILY_MEMBER_PHD }}</td>
                                        <td> {{s.FEMALE_FAMILY_MEMBER_PHD}}</td>
                                        <td> {{s.TRANSGENDER_FAMILY_MEMBER_PHD}}</td>
                                        <td> {{s.TOTAL_GENDER_FAMILY_MEMBER_PHD}}</td>

                                        
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>

                  

                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-section1 bg-dark py-2" style="
width: 100%;
bottom: 0;">
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div> -->
        <div class="container pb-2">
            <div class="row g-2">

                <div class="col-md-6 col-lg-9">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                        H.No. 54-16-1/14D, 3rd Floor, <br>
                        Road No.2, Central Excise Colony,<br>
                        Andhra Loyola College Road, Vijayawada.<br>
                        Andhra Pradesh</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                        &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>






    
    <!-- ***********************Modal ****************-->

    <div class="modal" id="addModalshow" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true"
        [ngStyle]="{'display':addModaldisplay}">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" (click)="modalclose()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <from class="enquiry-form">
    <div>
                        <h5 class="modal-title" id="OneModalLabel">Core Sanitation Worker  Details</h5>
    
                        <div class="col-12 col-xl-12 mt-2">
                            <div class="table-responsive">
                                <table class="table survey-table table-striped table-hover">
                                    <thead>
                                        

                                        <tr>
                                            <td>S.No</td>
                                            <td>Name</td>
                                            <td>Survey ID</td>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                         <tr>
                                            
                                            <tr *ngFor="let s of modaldata;let sno=index;">
                                                <td>{{sno+1}}</td>
                                                <td>{{s.NAME}}</td>
                                                <!-- <td>{{s.SURVEY_ID}}</td> -->
                                                <td >  <span ><a [routerLink]="" style="
                                                    color: green;
                                                    text-decoration: underline;
                                                    text-decoration-color: #8f867c;
                                                  " (click)="Vieweducation(s.SURVEY_ID ,'')">{{s.SURVEY_ID}}</a></span></td>
                                         </tr>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>

                        <div *ngIf="modaldata.length > 0 && view"  >
    
                  
                        <h5 class="modal-title" id="twoModalLabel"  >Core Sanitation Worker Educational Details</h5>
                    
                        <div class="col-12 col-xl-12 mt-2">
                            <div class="table-responsive">
                                <table class="table survey-table table-striped table-hover" >
                                    <thead>
                                        <tr class="table-primary">
                                            <th>S.No</th>
                                            <th>Survey ID</th>
                                            <th>Core Sanitation Worker Name</th>
                                            <th>Core Sanitation Worker Educational Status</th>
                                            
                                      
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <td>{{1}}</td>
                                            <td>{{SURVEY_ID}}</td>
                                            <td>{{SANITATION_WORK_NAME}}</td>
                                            <td>{{SANITATION_WORK_EDUCATIONAL_STATUS}}</td>
                                           
                                            
    
                                            
                                        </tr>
                                       
                                      
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
               
                     
                    
                   
                    <h5 class="modal-title" id="threeModalLabel" >Family Member Educational Details</h5>
                    
                    <div class="col-12 col-xl-12 mt-2">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover"   >
                                <thead>
                                    <tr class="table-primary">
                                        <th>S.No</th>
                                        <th>Survey ID</th>
                                        <th>Family Member Name</th>
                                        <th>Family Member  Educational Status</th>
                                        
                                  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of educationdata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td>{{s.SURVEY_ID}}</td>
                                        <td>{{s.FAMILY_MEMBER_NAME}}</td>
                                        <td>{{s.FAMILY_MEMBERS_EDUCATIONAL_STATUS}}</td>
                                       
                                        

                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
               
            </div>

    
    
    
    
    
    
    
    
    
                    </from>
                </div>
    
            </div>
        </div>
    </div>

  













 

 

 