<a id="show-sidebar" class="btn btn-sm btn-dark" href="javascript:void()">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">
                <i class="fas fa-user"></i>
                Admin</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul class="ul-submenu">
                <li class="header-menu">
                    <span>Menu</span>
                </li>
                <!-- <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Home</span>
                        </a>
                    </li> -->
                <li class="sidebar-dropdown">
                    <a href="javascript:void()">
                        <i class="fa fa-users"></i>
                        <span>Admin</span>
                        
                    </a>
                    <div class="sidebar-submenu">
                        <ul class="ul-submenu">
                            <li>
                                <a href="javascript:void(0);" routerLink="/SACSurveyReport" >SAC Survey Report</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" routerLink="/GenderReport" >SAC Survey Gender Report</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" routerLink="/CasteReport" >SAC Survey Caste Report</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" routerLink="/AgeReport" >SAC Survey Age Report</a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
              
                
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <!-- <div class="sidebar-footer">
        <a href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
        </a>
        <a href="javascript:void(0)" routerLink="/EmployeeLogin">
            <i class="fa fa-power-off"></i>
        </a>
    </div> -->
</nav>