<div class="page-wrapper chiller-theme toggled">
        
    <app-master-header></app-master-header>
    <!-- <app-layout-sidemenu></app-layout-sidemenu> -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    
    </div>