<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - FEMALE SANITATION WORKERS REPORTS</h2>
                </div>
            </div>

            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">


                    <div class="col-12 col-xl-2" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input type="radio" ng-control="options" value="U" name="catrad" id="catrad"
                                    [(ng-model)]="Swatch_Ur" (change)="URchange('U')" [checked]="ischecked"
                                    class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input type="radio" ng-control="options" value="R" name="catrad" id="catrad1"
                                    [(ng-model)]="Swatch_Ur" (change)="URchange('R')" class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-2 mt-4 pt-2">
                        <!--   <button type="button" (click)="GetSurveyReportdata()" class="btn btn-primary btn-sm mt-1">GET</button> -->
                    </div>
                    <div class="row align-items-center justify-content-center">

                        <div class="col-12 col-xl-2" *ngIf="Reportlevel !='0'">
                            <label class="form-label">District : </label>
                            <label class="form-label" style="color: green;">{{District}}</label>
                        </div>
                        <div class="col-12 col-xl-2" *ngIf="Reportlevel !='1' && Reportlevel !='0'">
                            <span *ngIf="Swatch_Ur =='U'"><label class="form-label">Urban : </label> </span>
                            <span *ngIf="Swatch_Ur !='U'"><label class="form-label">Mandal : </label> </span>
                            <label class="form-label" style="color: green;">{{Mandal}}</label>

                        </div>
                        <div class="col-12 col-xl-3" *ngIf="Reportlevel =='3'">
                            <label class="form-label">Grampanchayat/Ward : </label>
                            <label class="form-label" style="color: green;">{{Gp}}</label>

                        </div>

                    </div>
                    <div class="row" *ngIf="Reportlevel =='0'">
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i
                                    class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="row" *ngIf="Reportlevel !='0'">
                        <div class="col-6 col-xl-6 text-start mb-0" *ngIf="Reportlevel !='0'">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button>
                        </div>
                        <div class="col-6 col-xl-6 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i
                                    class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div *ngIf="Swatch_Ur == 'U'"> <span style="color: red;">Note : Below records are considered as
                            municipal commissioner approved records</span></div>
                    <div *ngIf="Swatch_Ur == 'R'"> <span style="color: red;">Note : Below records are considered as dpo
                            approved records</span></div>
                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='0'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover " style="text-align: center">
                                <thead>

                                    <tr>


                                        <th colspan="6"></th>
                                        <th colspan="16">Caste</th>
                                        <th colspan="36"></th>
                                        <th rowspan="1" colspan="4">Family Members</th>



                                    </tr>

                                    <tr>
                                        <th colspan="6"></th>
                                       
                                        <th colspan="4">OC</th>
                                        <th colspan="4">BC</th>
                                        <th colspan="4">SC</th>
                                        <th colspan="4">ST</th>
                                       
                                        <th colspan="12">Educational Details</th>
                                        <th colspan="9">Type of Employment</th>
                                        <th colspan="8">Monthly Income</th>
                                        <!-- <th colspan="2"></th> -->
                                        <th colspan="7">Insurance</th>

                                        <th rowspan="1" colspan="4">Female</th>


                                        <th rowspan="1" colspan="4">House Type</th>
                                        <!--     <th rowspan="1" colspan="4"   >Ownership</th> -->


                                    </tr>

                                    <tr>
                                        <th colspan="1">S.No</th>
                                        <th colspan="1">District</th>
                                        
                                        <th colspan="1">Total Female Surveyed</th>
                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>
                                       
                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>
                                        <th colspan="1">Total</th>
                                       
                                        <th colspan="1">Illiterate</th>
                                        <th colspan="1">Functional Literacy</th>
                                        <th colspan="1">Till 5th std.</th>
                                        <th colspan="1">Till 8th std.</th>
                                        <th colspan="1">Till 10th std.</th>
                                        <th colspan="1">Till 12th std.</th>
                                        <th colspan="1">Diploma-Vocational</th>
                                        <th colspan="1">Diploma-Professional</th>
                                        <th colspan="1">Graduation</th>
                                        <th colspan="1">Post Graduation</th>
                                        <th colspan="1">PhD</th>
                                        <th colspan="1">Total</th>
                                        
                                        
                                        <th colspan="1">Contract Worker</th>
                                        <th colspan="1">Outsourcing Worker</th>
                                        <th colspan="1">Private Sector</th>
                                        <th colspan="1">Unauthorized Sector</th>
                                        <th colspan="1">Government Employee</th>
                                        <th colspan="1">Reserve Worker</th>
                                        <th colspan="1">Badili Worker</th>
                                        <th colspan="1">Clap  Mitras</th>
                                        <th colspan="1">Total</th>

                                        <th colspan="1">Less than Rs.5000</th>
                                        <th colspan="1">Rs.5000- Rs.10000</th>
                                        <th colspan="1">Rs.10001-Rs.15000</th>
                                        <th colspan="1">Rs.15001-Rs.20000</th>
                                        <th colspan="1">Rs.20001-Rs.25000</th>
                                        <th colspan="1">Rs.25001-Rs.30000</th>
                                        <th colspan="1">Above Rs.30000</th>
                                        <th colspan="1">Total</th>
                                      
                                        <th colspan="1">Health insurance</th>
                                        <th colspan="1">Life insurance</th>
                                        <th colspan="1">Accidental insurance</th>
                                        <th colspan="1">Employees'State Insurance Corporation (ESIC)</th>
                                        <th colspan="1">Govt Insurance</th>
                                        <th colspan="1">Any Other</th>
                                        <th colspan="1">Total</th>
                                        <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th>

                                        <th rowspan="1" colspan="1">Kutcha House</th>
                                        <th rowspan="1" colspan="1">Semi-Pucca House</th>
                                        <th rowspan="1" colspan="1">Pucca House</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                       

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of SurveyReportdata;let sno=index;">
                                        <td *ngIf="s.DISTRICT_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.DISTRICT_NAME =='Total'"></td>
                                        <td *ngIf="s.DISTRICT_NAME =='Total'" style="color: blue;">{{s.DISTRICT_NAME}}
                                        </td>
                                        <td *ngIf="s.DISTRICT_NAME !='Total'"> <span><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetMandalSurveyReportdata(s.DISTRICT_ID,s.DISTRICT_NAME)">{{s.DISTRICT_NAME}}</a></span>
                                        </td>

                                        <td>{{s.TOTAL_FEMALE}}</td>
                                        <td>{{s.TOTAL_DIVORCED}}</td>                                       
                                        <td>{{s.ASTOTAL_WIDOW}}</td>
                                        <td>{{s.TOTAL_SINGLE_WOMEN}}</td>                                       
                                        <td>{{s.OC_TOTAL_DIVORCED}}</td>
                                        <td>{{s.OC_TOTAL_WIDOW}}</td>
                                        <td>{{s.OC_TOTAL_SINGLE_WOMEN}}</td>
                                        <td>{{s.OC_TOTAL}}</td>
                                        <td>{{s.BC_TOTAL_DIVORCED}}</td>
                                        <td>{{s.BC_TOTAL_WIDOW}}</td>
                                        <td>{{s.BC_TOTAL_SINGLE_WOMEN}}</td>
                                        <td>{{s.BC_TOTAL}}</td>
                                        <td>{{s.SC_TOTAL_DIVORCED }}</td>
                                        <td>{{s.SC_TOTAL_WIDOW }}</td>
                                        <td>{{s.SC_TOTAL_SINGLE_WOMEN}}</td>
                                        <td>{{s.SC_TOTAL}}</td>
                                        <td>{{s.ST_TOTAL_DIVORCED}}</td>
                                        <td>{{s.ST_TOTAL_WIDOW}}</td>
                                        <td>{{s.ST_TOTAL_SINGLE_WOMEN}}</td>
                                        <td>{{s.ST_TOTAL}}</td>                                
                                        <td>{{s.EDU_ILLITERATE}}</td>
                                        <td>{{s.EDU_FUN_LITERACY}}</td>
                                        <td>{{s.EDU_5TH}}</td>
                                        <td>{{s.EDU_8TH}}</td>
                                        <td>{{s.EDU_10TH}}</td>
                                        <td>{{s.EDU_12TH}}</td>
                                        <td>{{s.EDU_DIP_VOC}}</td>
                                        <td>{{s.EDU_DIP_PROFF}}</td>
                                        <td>{{s.EDU_GRADUATION}}</td>
                                        <td>{{s.EDU_PG}}</td>
                                        <td>{{s.EDU_PHD}}</td>
                                        <td>{{s.EDU_TOTAL}}</td>
                                        <td>{{s.EMP_CONTRACT}}</td>
                                        <td>{{s.EMP_OUTSOURCING}}</td>
                                        <td>{{s.EMP_PRIVATE}}</td>
                                        <td>{{s.EMP_UNAUTHORIZED}}</td>
                                        <td>{{s.EMP_GOVT}}</td>
                                        <td>{{s.EMP_RESERVE}}</td>
                                        <td>{{s.EMP_BADILI}}</td>
                                        <td>{{s.EMP_CLAP}}</td>
                                        <td>{{s.EMP_TOTAL}}</td>                               
                                        <td>{{s.INC_LESS_THAN_5000}}</td>
                                        <td>{{s.INC_5000_10000}}</td>
                                        <td>{{s.INC_10001_15000}}</td>
                                        <td>{{s.INC_15001_20000}}</td>
                                        <td>{{s.INC_20001_25000}}</td>
                                        <td>{{s.INC_25001_30000}}</td>
                                        <td>{{s.INC_30000}}</td>
                                        <td>{{s.INC_TOTAL}}</td>
                                        <td>{{s.HEALTH_INSURANCE}}</td>
                                        <td>{{s.LIFE_INSURANCE}}</td>
                                        <td>{{s.ACCIDENTAL_INSURANCE}}</td>
                                        <td>{{s.ESIC_INSURANCE }}</td>
                                        <td>{{s.GOVT_INSURANCE }}</td>
                                        <td>{{s.ANYOTHER_INSURANCE}}</td>
                                        <td>{{s.INSURANCE_TOTAL}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{s.KUTCHA_HOUSE}}</td>
                                        <td>{{s.SEMI_PUCCA_HOUSE}}</td>
                                        <td>{{s.PUCCA_HOUSE}}</td>
                                        <td>{{s.HOUSE_TOTAL}}</td>



                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='1'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover " style="text-align: center">
                                <thead>



                                    <tr>

                                        <th colspan="7" *ngIf="Swatch_Ur =='U'"></th>
                                        <th colspan="6" *ngIf="Swatch_Ur =='R'"></th>
                                        <th colspan="15">Caste</th>
                                        <th colspan="34"></th>
                                        <th rowspan="1" colspan="4">Family Members</th>



                                    </tr>

                                    <tr>




                                        <th colspan="7" *ngIf="Swatch_Ur =='U'"></th>
                                        <th colspan="6" *ngIf="Swatch_Ur =='R'"></th>
                                        <!-- <th rowspan="1" colspan="5"   >Caste</th> -->
                                        <th rowspan="1" colspan="3">OC</th>
                                        <th rowspan="1" colspan="3">BC</th>
                                        <th rowspan="1" colspan="3">SC</th>
                                        <th rowspan="1" colspan="3">ST</th>
                                        <th rowspan="1" colspan="3">Total</th>
                                        <th rowspan="1" colspan="12">Educational Details</th>
                                        <th rowspan="1" colspan="8">Type of Employment</th>
                                        <th rowspan="1" colspan="8">Monthly Income</th>
                                        <!-- <th colspan="2"   >Total</th> -->
                                        <th rowspan="1" colspan="6">Insurance</th>

                                        <!-- <th rowspan="1" colspan="4"   >Male</th> -->
                                        <th rowspan="1" colspan="4">Female</th>
                                        <!-- <th rowspan="1" colspan="4"   >Transgender</th> -->

                                        <th rowspan="1" colspan="4">House Type</th>
                                        <!--    <th rowspan="1" colspan="4"   >Ownership</th> -->


                                    </tr>

                                    <tr>
                                        <th colspan="1">S.No</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='R'">Mandal</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='U'">Urban Local
                                            Body</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='U'">Urban Local
                                            Body(ULB) Code</th>

                                        <th colspan="1">Total Female Surveyed</th>
                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>
                                        <!-- <th colspan="1">OC</th>
                                        <th colspan="1">BC</th>
                                        <th colspan="1">SC</th>
                                        <th colspan="1">ST</th>
                                        <th colspan="1">Total</th> -->
                                        <th colspan="1">Illiterate</th>
                                        <th colspan="1">Functional Literacy</th>
                                        <th colspan="1">Till 5th std.</th>
                                        <th colspan="1">Till 8th std.</th>
                                        <th colspan="1">Till 10th std.</th>
                                        <th colspan="1">Till 12th std.</th>
                                        <th colspan="1">Diploma-Vocational</th>
                                        <th colspan="1">Diploma-Professional</th>
                                        <th colspan="1">Graduation</th>
                                        <th colspan="1">Post Graduation</th>
                                        <th colspan="1">PhD</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Permanent Worker</th>
                                        <th colspan="1">Outsourcing Worker</th>
                                        <th colspan="1">Contract Worker</th>
                                        <th colspan="1">Badili Worker</th>
                                        <th colspan="1">Reserve Worker</th>
                                        <th colspan="1">Private Sector</th>
                                        <th colspan="1">Unauthorized Sector</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Less than Rs.5000</th>
                                        <th colspan="1">Rs.5000- Rs.10000</th>
                                        <th colspan="1">Rs.10001-Rs.15000</th>
                                        <th colspan="1">Rs.15001-Rs.20000</th>
                                        <th colspan="1">Rs.20001-Rs.25000</th>
                                        <th colspan="1">Rs.25001-Rs.30000</th>
                                        <th colspan="1">Above Rs.30000</th>
                                        <th colspan="1">Total</th>
                                        <!-- <th colspan="1"   >Health Issues(Chronic disease)</th>
                                        <th colspan="1"   >Current Paid Loans</th> -->
                                        <th colspan="1">Health insurance</th>
                                        <th colspan="1">Life insurance</th>
                                        <th colspan="1">Accidental insurance</th>
                                        <th colspan="1">Employees'State Insurance Corporation (ESIC)</th>
                                        <th colspan="1">Any Other</th>
                                        <th colspan="1">Total</th>
                                        <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <!-- <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th> -->
                                        <th rowspan="1" colspan="1">Kutcha House</th>
                                        <th rowspan="1" colspan="1">Semi-Pucca House</th>
                                        <th rowspan="1" colspan="1">Pucca House</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <!--  <th rowspan="1" colspan="1">Un-authorized land</th>
                                        <th rowspan="1" colspan="1">Rent</th>
                                        <th rowspan="1" colspan="1">Own</th>
                                        <th rowspan="1" colspan="1">Total</th> -->

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of MandalSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.MANDAL_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.MANDAL_NAME =='Total'"></td>
                                        <td *ngIf="s.MANDAL_NAME =='Total'" style="color: blue;">{{s.MANDAL_NAME}}</td>
                                        <td *ngIf="s.MANDAL_NAME !='Total'"> <span><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetGpSurveyReportdata(s.MANDAL_NAME,s.MANDAL_ID)">{{s.MANDAL_NAME}}</a></span>
                                        </td>
                                        <td *ngIf="Swatch_Ur =='U' && s.MANDAL_NAME !='Total'">{{s.MANDAL_ID}}</td>
                                        <td *ngIf="Swatch_Ur =='U' && s.MANDAL_NAME =='Total'"></td>
                                        <td>{{s.TOTAL_FEMALE}}</td>
                                        <!-- <td>{{s.TOTAL_DIVORCED}}</td> -->
                                        <td></td>
                                        <td>{{s.ASTOTAL_WIDOW}}</td>
                                        <!-- <td>{{s.TOTAL_SINGLE_WOMEN}}</td> -->
                                        <td></td>

                                        <td>{{s.OC_TOTAL_DIVORCED}}</td>
                                        <td>{{s.OC_TOTAL_WIDOW}}</td>
                                        <td>{{s.OC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.BC_TOTAL_DIVORCED}}</td>
                                        <td>{{s.BC_TOTAL_WIDOW}}</td>
                                        <td>{{s.BC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.SC_TOTAL_DIVORCED }}</td>
                                        <td>{{s.SC_TOTAL_WIDOW }}</td>
                                        <td>{{s.SC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.ST_TOTAL_DIVORCED}}</td>
                                        <td>{{s.ST_TOTAL_WIDOW}}</td>
                                        <td>{{s.ST_TOTAL_SINGLE_WOMEN}}</td>


                                        <td>{{s.TOTAL_DIVORCED}}</td>
                                        <td>{{s.TOTAL_WIDOW}}</td>
                                        <td>{{s.TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.EDU_ILLITERATE}}</td>
                                        <td>{{s.EDU_FUN_LITERACY}}</td>
                                        <td>{{s.EDU_5TH}}</td>
                                        <td>{{s.EDU_8TH}}</td>
                                        <td>{{s.EDU_10TH}}</td>
                                        <td>{{s.EDU_12TH}}</td>
                                        <td>{{s.EDU_DIP_VOC}}</td>
                                        <td>{{s.EDU_DIP_PROFF}}</td>
                                        <td>{{s.EDU_GRADUATION}}</td>
                                        <td>{{s.EDU_PG}}</td>
                                        <td>{{s.EDU_PHD}}</td>
                                        <td></td>

                                        <td></td>
                                        <td>{{s.EMP_OUTSOURCING}}</td>
                                        <td>{{s.EMP_CONTRACT}}</td>
                                        <td>{{s.EMP_BADILI}}</td>
                                        <td>{{s.EMP_RESERVE}}</td>
                                        <td>{{s.EMP_PRIVATE}}</td>
                                        <td>{{s.EMP_UNAUTHORIZED}}</td>
                                        <td></td>

                                        <td>{{s.INC_LESS_THAN_5000}}</td>
                                        <td>{{s.INC_5000_10000}}</td>
                                        <td>{{s.INC_10001_15000}}</td>
                                        <td>{{s.INC_15001_20000}}</td>
                                        <td>{{s.INC_20001_25000}}</td>
                                        <td>{{s.INC_25001_30000}}</td>
                                        <td>{{s.INC_30000}}</td>
                                        <td></td>


                                        <td>{{s.HEALTH_INSURANCE}}</td>
                                        <td>{{s.LIFE_INSURANCE}}</td>
                                        <td>{{s.ACCIDENTAL_INSURANCE}}</td>
                                        <td>{{s.ESIC_INSURANCE }}</td>
                                        <td>{{s.ANYOTHER_INSURANCE}}</td>
                                        <td></td>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td>{{s.KUTCHA_HOUSE}}</td>
                                        <td>{{s.SEMI_PUCCA_HOUSE}}</td>
                                        <td>{{s.PUCCA_HOUSE}}</td>
                                        <td></td>
                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='2'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover " style="text-align: center">
                                <thead>



                                    <tr>



                                        <th colspan="6" *ngIf="Swatch_Ur =='U'"></th>
                                        <th colspan="7" *ngIf="Swatch_Ur =='R'"></th>
                                        <th colspan="15">Caste</th>
                                        <th colspan="34"></th>
                                        <th rowspan="1" colspan="4">Family Members</th>



                                    </tr>

                                    <tr>




                                        <th colspan="6" *ngIf="Swatch_Ur =='U'"></th>
                                        <th colspan="7" *ngIf="Swatch_Ur =='R'"></th>
                                        <!-- <th rowspan="1" colspan="5"   >Caste</th> -->
                                        <th rowspan="1" colspan="3">OC</th>
                                        <th rowspan="1" colspan="3">BC</th>
                                        <th rowspan="1" colspan="3">SC</th>
                                        <th rowspan="1" colspan="3">ST</th>
                                        <th rowspan="1" colspan="3">Total</th>
                                        <th rowspan="1" colspan="12">Educational Details</th>
                                        <th rowspan="1" colspan="8">Type of Employment</th>
                                        <th rowspan="1" colspan="8">Monthly Income</th>
                                        <!-- <th colspan="2"   >Total</th> -->
                                        <th rowspan="1" colspan="6">Insurance</th>

                                        <!-- <th rowspan="1" colspan="4"   >Male</th> -->
                                        <th rowspan="1" colspan="4">Female</th>
                                        <!-- <th rowspan="1" colspan="4"   >Transgender</th> -->

                                        <th rowspan="1" colspan="4">House Type</th>
                                        <!--    <th rowspan="1" colspan="4"   >Ownership</th> -->


                                    </tr>

                                    <tr>
                                        <th colspan="1">S.No</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='R'">Gram panchayat</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='R'">GP(LGD) Code</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='U'">Ward</th>

                                        <th colspan="1">Total Female Surveyed</th>
                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>
                                        <!-- <th colspan="1">OC</th>
                                        <th colspan="1">BC</th>
                                        <th colspan="1">SC</th>
                                        <th colspan="1">ST</th>
                                        <th colspan="1">Total</th> -->
                                        <th colspan="1">Illiterate</th>
                                        <th colspan="1">Functional Literacy</th>
                                        <th colspan="1">Till 5th std.</th>
                                        <th colspan="1">Till 8th std.</th>
                                        <th colspan="1">Till 10th std.</th>
                                        <th colspan="1">Till 12th std.</th>
                                        <th colspan="1">Diploma-Vocational</th>
                                        <th colspan="1">Diploma-Professional</th>
                                        <th colspan="1">Graduation</th>
                                        <th colspan="1">Post Graduation</th>
                                        <th colspan="1">PhD</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Permanent Worker</th>
                                        <th colspan="1">Outsourcing Worker</th>
                                        <th colspan="1">Contract Worker</th>
                                        <th colspan="1">Badili Worker</th>
                                        <th colspan="1">Reserve Worker</th>
                                        <th colspan="1">Private Sector</th>
                                        <th colspan="1">Unauthorized Sector</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Less than Rs.5000</th>
                                        <th colspan="1">Rs.5000- Rs.10000</th>
                                        <th colspan="1">Rs.10001-Rs.15000</th>
                                        <th colspan="1">Rs.15001-Rs.20000</th>
                                        <th colspan="1">Rs.20001-Rs.25000</th>
                                        <th colspan="1">Rs.25001-Rs.30000</th>
                                        <th colspan="1">Above Rs.30000</th>
                                        <th colspan="1">Total</th>
                                        <!-- <th colspan="1"   >Health Issues(Chronic disease)</th>
                                        <th colspan="1"   >Current Paid Loans</th> -->
                                        <th colspan="1">Health insurance</th>
                                        <th colspan="1">Life insurance</th>
                                        <th colspan="1">Accidental insurance</th>
                                        <th colspan="1">Employees'State Insurance Corporation (ESIC)</th>
                                        <th colspan="1">Any Other</th>
                                        <th colspan="1">Total</th>
                                        <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <!-- <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th> -->
                                        <!-- <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th> -->
                                        <th rowspan="1" colspan="1">Kutcha House</th>
                                        <th rowspan="1" colspan="1">Semi-Pucca House</th>
                                        <th rowspan="1" colspan="1">Pucca House</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <!--     <th rowspan="1" colspan="1">Un-authorized land</th>
                                        <th rowspan="1" colspan="1">Rent</th>
                                        <th rowspan="1" colspan="1">Own</th>
                                        <th rowspan="1" colspan="1">Total</th> -->

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of GpSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'" style="color: blue;">
                                            {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td
                                            *ngIf="( Swatch_Ur =='U' && s.WARD_OR_VILLAGE_NAME !='Total' && Mandal == 'Penamaluru' ) || (Swatch_Ur =='U' && Mandal == 'Ysr Tadigadapa')">
                                            {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td
                                            *ngIf=" ( Swatch_Ur =='U' && s.WARD_OR_VILLAGE_NAME !='Total' && Mandal != 'Penamaluru' ) && (Swatch_Ur =='U' && Mandal != 'Ysr Tadigadapa')">
                                            Ward No {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td *ngIf="Swatch_Ur =='R'  && s.WARD_OR_VILLAGE_NAME !='Total'"> <span><a
                                                    [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetVillageSurveyReportdata(s.WARD_OR_VILLAGE_NAME,s.WARD_OR_VILLAGE_ID)">{{s.WARD_OR_VILLAGE_NAME}}</a></span>
                                        </td>

                                        <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME !='Total'">
                                            {{s.WARD_OR_VILLAGE_ID}}</td>
                                        <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td>{{s.TOTAL_FEMALE}}</td>
                                        <!-- <td>{{s.TOTAL_DIVORCED}}</td> -->
                                        <td></td>
                                        <td>{{s.ASTOTAL_WIDOW}}</td>
                                        <!-- <td>{{s.TOTAL_SINGLE_WOMEN}}</td> -->
                                        <td></td>

                                        <td>{{s.OC_TOTAL_DIVORCED}}</td>
                                        <td>{{s.OC_TOTAL_WIDOW}}</td>
                                        <td>{{s.OC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.BC_TOTAL_DIVORCED}}</td>
                                        <td>{{s.BC_TOTAL_WIDOW}}</td>
                                        <td>{{s.BC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.SC_TOTAL_DIVORCED }}</td>
                                        <td>{{s.SC_TOTAL_WIDOW }}</td>
                                        <td>{{s.SC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.ST_TOTAL_DIVORCED}}</td>
                                        <td>{{s.ST_TOTAL_WIDOW}}</td>
                                        <td>{{s.ST_TOTAL_SINGLE_WOMEN}}</td>


                                        <td>{{s.TOTAL_DIVORCED}}</td>
                                        <td>{{s.TOTAL_WIDOW}}</td>
                                        <td>{{s.TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.EDU_ILLITERATE}}</td>
                                        <td>{{s.EDU_FUN_LITERACY}}</td>
                                        <td>{{s.EDU_5TH}}</td>
                                        <td>{{s.EDU_8TH}}</td>
                                        <td>{{s.EDU_10TH}}</td>
                                        <td>{{s.EDU_12TH}}</td>
                                        <td>{{s.EDU_DIP_VOC}}</td>
                                        <td>{{s.EDU_DIP_PROFF}}</td>
                                        <td>{{s.EDU_GRADUATION}}</td>
                                        <td>{{s.EDU_PG}}</td>
                                        <td>{{s.EDU_PHD}}</td>
                                        <td></td>

                                        <td></td>
                                        <td>{{s.EMP_OUTSOURCING}}</td>
                                        <td>{{s.EMP_CONTRACT}}</td>
                                        <td>{{s.EMP_BADILI}}</td>
                                        <td>{{s.EMP_RESERVE}}</td>
                                        <td>{{s.EMP_PRIVATE}}</td>
                                        <td>{{s.EMP_UNAUTHORIZED}}</td>
                                        <td></td>

                                        <td>{{s.INC_LESS_THAN_5000}}</td>
                                        <td>{{s.INC_5000_10000}}</td>
                                        <td>{{s.INC_10001_15000}}</td>
                                        <td>{{s.INC_15001_20000}}</td>
                                        <td>{{s.INC_20001_25000}}</td>
                                        <td>{{s.INC_25001_30000}}</td>
                                        <td>{{s.INC_30000}}</td>
                                        <td></td>


                                        <td>{{s.HEALTH_INSURANCE}}</td>
                                        <td>{{s.LIFE_INSURANCE}}</td>
                                        <td>{{s.ACCIDENTAL_INSURANCE}}</td>
                                        <td>{{s.ESIC_INSURANCE }}</td>
                                        <td>{{s.ANYOTHER_INSURANCE}}</td>
                                        <td></td>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td>{{s.KUTCHA_HOUSE}}</td>
                                        <td>{{s.SEMI_PUCCA_HOUSE}}</td>
                                        <td>{{s.PUCCA_HOUSE}}</td>
                                        <td></td>
                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='3'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover " style="text-align: center">
                                <thead>


                                    <tr>


                                        <th colspan="7"></th>
                                        <th colspan="15">Caste</th>
                                        <th colspan="34"></th>
                                        <th rowspan="1" colspan="4">Family Members</th>



                                    </tr>

                                    <tr>
                                        <th colspan="7"></th>
                                        <th rowspan="1" colspan="3">OC</th>
                                        <th rowspan="1" colspan="3">BC</th>
                                        <th rowspan="1" colspan="3">SC</th>
                                        <th rowspan="1" colspan="3">ST</th>
                                        <th rowspan="1" colspan="3">Total</th>
                                        <th rowspan="1" colspan="12">Educational Details</th>
                                        <th rowspan="1" colspan="8">Type of Employment</th>
                                        <th rowspan="1" colspan="8">Monthly Income</th>
                                        <!-- <th colspan="2"   >Total</th> -->
                                        <th rowspan="1" colspan="6">Insurance</th>

                                        <!-- <th rowspan="1" colspan="4"   >Male</th> -->
                                        <th rowspan="1" colspan="4">Female</th>
                                        <!-- <th rowspan="1" colspan="4"   >Transgender</th> -->

                                        <th rowspan="1" colspan="4">House Type</th>
                                        <!--    <th rowspan="1" colspan="4"   >Ownership</th> -->


                                    </tr>

                                    <tr>
                                        <th colspan="1">S.No</th>
                                        <th colspan="1">Village</th>
                                        <th colspan="1">Village Revenue Code</th>

                                        <th colspan="1">Total Female Surveyed</th>
                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>

                                        <th colspan="1">Divorced</th>
                                        <th colspan="1">Widow</th>
                                        <th colspan="1">Single Woman</th>
                                        <!-- <th colspan="1">OC</th>
                                        <th colspan="1">BC</th>
                                        <th colspan="1">SC</th>
                                        <th colspan="1">ST</th>
                                        <th colspan="1">Total</th> -->
                                        <th colspan="1">Illiterate</th>
                                        <th colspan="1">Functional Literacy</th>
                                        <th colspan="1">Till 5th std.</th>
                                        <th colspan="1">Till 8th std.</th>
                                        <th colspan="1">Till 10th std.</th>
                                        <th colspan="1">Till 12th std.</th>
                                        <th colspan="1">Diploma-Vocational</th>
                                        <th colspan="1">Diploma-Professional</th>
                                        <th colspan="1">Graduation</th>
                                        <th colspan="1">Post Graduation</th>
                                        <th colspan="1">PhD</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Permanent Worker</th>
                                        <th colspan="1">Outsourcing Worker</th>
                                        <th colspan="1">Contract Worker</th>
                                        <th colspan="1">Badili Worker</th>
                                        <th colspan="1">Reserve Worker</th>
                                        <th colspan="1">Private Sector</th>
                                        <th colspan="1">Unauthorized Sector</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Less than Rs.5000</th>
                                        <th colspan="1">Rs.5000- Rs.10000</th>
                                        <th colspan="1">Rs.10001-Rs.15000</th>
                                        <th colspan="1">Rs.15001-Rs.20000</th>
                                        <th colspan="1">Rs.20001-Rs.25000</th>
                                        <th colspan="1">Rs.25001-Rs.30000</th>
                                        <th colspan="1">Above Rs.30000</th>
                                        <th colspan="1">Total</th>
                                        <th colspan="1">Health Issues(Chronic disease)</th>
                                        <th colspan="1">Current Paid Loans</th>
                                        <!-- <th colspan="1">Health insurance</th>
                                        <th colspan="1">Life insurance</th> -->
                                        <th colspan="1">Accidental insurance</th>
                                        <th colspan="1">Employees'State Insurance Corporation (ESIC)</th>
                                        <th colspan="1">Any Other</th>
                                        <th colspan="1">Total</th>
                                        <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <!-- <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <th rowspan="1" colspan="1">Children</th>
                                        <th rowspan="1" colspan="1">Adults</th>
                                        <th rowspan="1" colspan="1">Senior Citizens</th>
                                        <th rowspan="1" colspan="1">Total</th> -->
                                        <th rowspan="1" colspan="1">Kutcha House</th>
                                        <th rowspan="1" colspan="1">Semi-Pucca House</th>
                                        <th rowspan="1" colspan="1">Pucca House</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <!--     <th rowspan="1" colspan="1">Un-authorized land</th>
                                        <th rowspan="1" colspan="1">Rent</th>
                                        <th rowspan="1" colspan="1">Own</th>
                                        <th rowspan="1" colspan="1">Total</th> -->

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of VillageSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'" style="color: blue;">
                                            {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{s.WARD_OR_VILLAGE_ID}}</td>
                                        <td>{{s.TOTAL_FEMALE}}</td>
                                        <!-- <td>{{s.TOTAL_DIVORCED}}</td> -->
                                        <td></td>
                                        <td>{{s.ASTOTAL_WIDOW}}</td>
                                        <!-- <td>{{s.TOTAL_SINGLE_WOMEN}}</td> -->
                                        <td></td>

                                        <td>{{s.OC_TOTAL_DIVORCED}}</td>
                                        <td>{{s.OC_TOTAL_WIDOW}}</td>
                                        <td>{{s.OC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.BC_TOTAL_DIVORCED}}</td>
                                        <td>{{s.BC_TOTAL_WIDOW}}</td>
                                        <td>{{s.BC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.SC_TOTAL_DIVORCED }}</td>
                                        <td>{{s.SC_TOTAL_WIDOW }}</td>
                                        <td>{{s.SC_TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.ST_TOTAL_DIVORCED}}</td>
                                        <td>{{s.ST_TOTAL_WIDOW}}</td>
                                        <td>{{s.ST_TOTAL_SINGLE_WOMEN}}</td>


                                        <td>{{s.TOTAL_DIVORCED}}</td>
                                        <td>{{s.TOTAL_WIDOW}}</td>
                                        <td>{{s.TOTAL_SINGLE_WOMEN}}</td>

                                        <td>{{s.EDU_ILLITERATE}}</td>
                                        <td>{{s.EDU_FUN_LITERACY}}</td>
                                        <td>{{s.EDU_5TH}}</td>
                                        <td>{{s.EDU_8TH}}</td>
                                        <td>{{s.EDU_10TH}}</td>
                                        <td>{{s.EDU_12TH}}</td>
                                        <td>{{s.EDU_DIP_VOC}}</td>
                                        <td>{{s.EDU_DIP_PROFF}}</td>
                                        <td>{{s.EDU_GRADUATION}}</td>
                                        <td>{{s.EDU_PG}}</td>
                                        <td>{{s.EDU_PHD}}</td>
                                        <td></td>

                                        <td></td>
                                        <td>{{s.EMP_OUTSOURCING}}</td>
                                        <td>{{s.EMP_CONTRACT}}</td>
                                        <td>{{s.EMP_BADILI}}</td>
                                        <td>{{s.EMP_RESERVE}}</td>
                                        <td>{{s.EMP_PRIVATE}}</td>
                                        <td>{{s.EMP_UNAUTHORIZED}}</td>
                                        <td></td>

                                        <td>{{s.INC_LESS_THAN_5000}}</td>
                                        <td>{{s.INC_5000_10000}}</td>
                                        <td>{{s.INC_10001_15000}}</td>
                                        <td>{{s.INC_15001_20000}}</td>
                                        <td>{{s.INC_20001_25000}}</td>
                                        <td>{{s.INC_25001_30000}}</td>
                                        <td>{{s.INC_30000}}</td>
                                        <td></td>


                                        <td>{{s.HEALTH_INSURANCE}}</td>
                                        <td>{{s.LIFE_INSURANCE}}</td>
                                        <td>{{s.ACCIDENTAL_INSURANCE}}</td>
                                        <td>{{s.ESIC_INSURANCE }}</td>
                                        <td>{{s.ANYOTHER_INSURANCE}}</td>
                                        <td></td>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td>{{s.KUTCHA_HOUSE}}</td>
                                        <td>{{s.SEMI_PUCCA_HOUSE}}</td>
                                        <td>{{s.PUCCA_HOUSE}}</td>
                                        <td></td>
                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-section1 bg-dark py-2" style="
width: 100%;
bottom: 0;">
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div> -->
        <div class="container pb-2">
            <div class="row g-2">

                <div class="col-md-6 col-lg-9">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                        H.No. 54-16-1/14D, 3rd Floor, <br>
                        Road No.2, Central Excise Colony,<br>
                        Andhra Loyola College Road, Vijayawada.<br>
                        Andhra Pradesh</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="https://twitter.com/Swachhaandhra"
                            target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"
                            target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social"
                            href="https://www.youtube.com/c/swachhaandhracorporationgoap" target="_blank"><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"
                            target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                        &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal
                        Administration & Urban Development Department.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>