.survey-table td {
    font-size: 16px;
}
.survey-table th {
    font-size: 16px;
}
.form-control {
    appearance: auto;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}
.card.farm{
  background-image: linear-gradient(to right, #2C3E50 0%, #4CA1AF 100%);
  min-height: 160px;
  height: 150px;
  width: 300px;
  min-width: 310px;
  margin: auto;
  box-shadow: 0px 5px 5px #ccc;
}
.card.plot
{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  min-height: 160px;
  height: 150px;
  width: 300px;
  min-width: 310px;
  margin: auto; 
  box-shadow: 0px 5px 5px #ccc;
}
.card.extent{
  background-image: linear-gradient(to right, #ef629f 0%, #EECDA3 100%);
  min-height: 160px;
  height: 150px;
  width: 300px;
  min-width: 310px;
  margin: auto;
  box-shadow: 0px 5px 5px #ccc;
}
.card.longitude{
  /* background-image: linear-gradient(to right, #b06ab3 0%, #4568DC 100%); */
  background-image: linear-gradient(to right,  #b24592 0%, #F15F79 100%);
min-height: 160px;
height: 150px;
width: 300px;
min-width: 310px;
margin: auto;
box-shadow: 0px 5px 5px #ccc;
}
.card.farmer
{
  /* background-image: linear-gradient(to right, #16a085 0%, #f4d03f 100%); */
  background-image: linear-gradient(to right, #2c3e50 0%, #3498db 100%);
  min-height: 160px;
  height: 150px;
  width: 300px;
  min-width: 310px;
  margin: auto;
  box-shadow: 0px 5px 5px #ccc;
}
.card.plant{
  /* background-image: linear-gradient(to right,  #fc00ff 0%,  #00dbde 100%); */
  background-image: linear-gradient(to right,  #fc00ff 0%,  #00dbde 100%);
min-height: 160px;
height: 150px;
width: 300px;
min-width: 310px;
margin: auto;
box-shadow: 0px 5px 5px #ccc;

}

.card .mitra-header{
    color:#ffffff;
    text-align: center;
    font-size: 20px;
}
.card .mitra-count{
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    padding: 8px 0px;
    font-size: 22px;
}
.card.plant p,
.card.farmer p,
.card.longitude p{
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    font-weight: 500;
    padding: 5px 0px;
}
.card .card-header{
    border-bottom: 1px solid #c384cf8c;
    height: 63px;
    min-height: 61px;
}
.card.rural{
  /* background: #177c82; */
  background: #e7edea;
  color: #0d152a;
}
