
  
  <section class="launch">
    <div class="launch-section">
    <div class="container-fluid">
        <section class="sticky">
            <div class="row justify-content-between align-items-center px-3">
            
                <div class="col-md-4 text-start launch-logo2">
                </div>
    
                <div class="col-md-4 text-center launch-logo">
                    <img src="assets/images/ap-logo.png">
                    <!-- <img src="assets/images/safaimitra-logo-eng.png" class="img-fluid"> -->
                </div>
                
                <div class="col-md-4 text-end launch-logo2 top-minister">
                    <div class="row justify-content-center">
                        <div class="col-md-4 text-center launch-logo2 py-1">
                            <img src="assets/images/cm-swach.png" class="mx-1">
                            <h5>Sri Y. S. Jagan Mohan Reddy</h5>
                            <p>Hon’ble Chief Minister</p>
                        </div>
        
                        <div class="col-md-4 text-center launch-logo2 py-1">
                            <img src="assets/images/adimulapu-suresh.png" class="mx-1">
                            <h5>Sri Audimulapu Suresh</h5>

<p>Hon’ble Minister for MA & UD</p>
                        </div>
        
                        <div class="col-md-4 text-center launch-logo2 py-1">
                            <img src="assets/images/mutyalanayudu-img.png" class="mx-1">
                            <h5>Sri Budi Mutyala Naidu</h5>

<p>Hon’ble Minister for Panchayat Raj & Rural Development</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-4 text-center" data-relative-input="true" id="scene">
                <img src="assets/images/safaimitra-logo-eng.png" class="img-fluid w-100" data-depth="0.2">
                
                <!-- <h5 class="cm-title">శ్రీ.వైఎస్. జగన్ మోహన్ రెడ్డి గారు</h5>
                <p class="cm-desc">గౌరవనీయులైన ముఖ్యమంత్రి, ఆంధ్రప్రదేశ్</p> -->
            </div>
            <div class="col-md-8 text-center">
                <h1 class="launch-title pt-5" data-depth="0.2">SAFAIMITRA SURVEY</h1>
                <h5 class="launchtext" data-depth="0.2">Identification of Core Sanitation Workers,<br> and their Socio-Economic Conditions</h5>
                <h3 class="website-launch">Website &amp; Mobile App Launch by</h3><br>
                <h5 class="cm-title mb-0">Sri Gandham Chandrudu, IAS</h5>
                <p>Managing Director, Swachha Andhra Corporation</p>
                <a href="javascript:void()" routerLink="./NewHome" class="btn btn-primary float-shadow btn-lg btn-3 round curtain-raise">Launch <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
            
        </div>
    </div>
</div>
</section>