<div class="main">

    <section class="dashboard-section">
        <div class="container-fluid p-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/images/sb-2.jpg" class="d-block w-100 slider-imgw" alt="Slider">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/sb-3.jpg" class="d-block w-100 slider-imgw" alt="Slider">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/sb-1.jpg" class="d-block w-100 slider-imgw" alt="Slider">
                    </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="ab-block">
            <div class="container-xxl">
                <!-- <div class="row justify-content-center align-items-center">
                <div class="title-blk mb-3">
                    <h4 class="text-start fw-bolder">Dashboard</h4>
                </div>
            </div> -->

                <div class="row justify-content-center align-items-center mb-3 pt-0 pb-5">
                    <div class="card-sw p-3">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-12 col-xl-7">
                                <p class="mb-0 text-success fw-bolder">Welcome to</p>
                                <h2 class="text-dark">Safaimitra Survey</h2>
                                <p class="mb-0 text-dark">The Safaimitra Survey App aims to build and eventually reconstruct
                                    Andhra Pradesh's sanitation framework, focusing on urban and rural sanitation workers
                                    and the working environments in which the public, private, and informal sanitation
                                    sectors operate. This app helps in the identification of core sanitation workers and
                                    their socio-economic conditions.<br><br>
                                    Many of us are only aware of the crucial role sanitation workers play when we encounter
                                    issues like overflowing septic tanks, clogged drains, obstructed or unclean toilets,
                                    open places with garbage piles etc. The efficient operation of the sanitation systems
                                    that support healthy living conditions for the public depends on these workers. Although
                                    they perform a vital public service, sanitation workers are often discriminated against
                                    or undervalued in the society. This basic lack of recognition is the root cause of many
                                    problems they encounter. To address these issues comprehensively, Safaimitra Survey App
                                    has been developed with a motive to identify and create database of core sanitation
                                    workers.</p>
                            </div>
                            <div class="col-12 col-xl-5 justify-content-center align-items-center">
                                <div class="ab-blk">
                                    <img src="assets/images/logos/safaimitra-logo.png" class="img-fluid floating" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row justify-content-center">
                    <div class="col-12 col-xl-12 px-0">

                    </div>

                    <div class="col-12 col-xl-12 p-0">
                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <div class="card p-3">
                                <h5 class="text-dark">Title Here</h5>
                                <div id="chartdivbar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card p-3 my-4 mb-5">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="bg-light p-2">
                                <h5 class="text-dark">Title Here</h5>
                            <div id="chartdivline"></div>
                        </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="bg-light p-2">
                            <h5 class="text-dark">Title Here</h5>
                            <div id="chartdivpie1"></div>
                        </div>
                        </div>
                    </div>
                </div>

                </div> -->
            </div>
        </div>
    </section>

    <section class="footer-section style= position: fixed ">
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
            <!-- <div class="ocean">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </div> -->
            <div class="container pb-2">
                <div class="row g-2">

                    <div class="col-md-6 col-lg-9">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                            H.No. 54-16-1/14D, 3rd Floor, <br>
                            Road No.2, Central Excise Colony,<br>
                            Andhra Loyola College Road, Vijayawada.<br>
                            Andhra Pradesh</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                        <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">

                        <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                            &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


</div>