.inforide {
    box-shadow: 0px 0px 10px 0px #ccc;
    /* background-color: white; */
    border-radius: 8px;
    height: 125px;
    background: linear-gradient(90deg,#84d9d2,#07cdae);
  }
  .inforide-two {
    box-shadow: 0px 0px 10px 0px #ccc;
    /* background-color: white; */
    border-radius: 8px;
    height: 125px;
    background: linear-gradient(90deg,#90caf9,#047edf 99%);
  }
  .inforide-three {
    box-shadow: 0px 0px 10px 0px #ccc;
    /* background-color: white; */
    border-radius: 8px;
    height: 125px;
    background: linear-gradient(90deg,#ffbf96,#fe7096);
  }
  
  .rideone img {
    width: 100%;
  }
  
  .ridetwo img {
    width: 100%;
  }
  
  .ridethree img {
    width: 100%;
  }
  
  .rideone {
    /* background-color: #11489a; */
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 12px;
  }
  
  .ridetwo {
    /* background-color: #188754; */
    padding-top: 30px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 12px;
  }
  
  .ridethree {
    /* background-color: #4EBCE5; */
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 12px;
  }
  
  .fontsty {
    margin-right: -15px;
  }
  
  .fontsty h2{
    color: #6E6E6E;
    font-size: 35px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
  }
  
  .fontsty h4{
    color: #6E6E6E;
    font-size: 25px;
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
  }
  #chartdivbar {
    width: 100%;
    height: 360px;
  }
  #chartdivpie1 {
    width: 100%;
    height: 500px;
  }
  #chartdivline {
    width: 100%;
    height: 500px;
  }
  img.card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.ab-blk {
    text-align: center;
}
.ab-blk img {
    border-radius: 100%;
    width: 330px;
    border: 5px solid #037b4f;
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
.ab-block {
  background-image: url(/assets/images/services-icon-1.png);
  background-position: center;
  background-size: 20%;
}
section.social-media-blk {
  background-image: url(/assets/images/social-media-Icons-bg.png);
  background-position: center;
  background-size: 20%;
}

