/*****************************
 All rights reserved.
 AllFont.net (c) 2011-2015
 *****************************/
 @font-face {
    font-family: 'Digital-7';
    font-style: normal;
    font-weight: 300;
    src: local('Digital-7'), local('Digital-7-Regular'),
        url(http://allfont.net/cache/fonts/digital-7_b73ef91485431ac0271f24009e14ccee.woff) format('woff'),
        url(http://allfont.net/cache/fonts/digital-7_b73ef91485431ac0271f24009e14ccee.ttf) format('truetype');
}