/********** Template CSS **********/
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    margin-right: 15px;
    padding: 18px 0px 0px 0px;
    color: #221b44;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #32acc6;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}
.login-btn{
    font-size: 13px;
    line-height: 28px;
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.booking {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: #8fd6e2;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: #8fd6e2;
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


/*** Service ***/
.service-item {
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    position: relative;
}

.service-item:hover {
    background: #32acc6;
    border-bottom: 5px solid #0f172b;
}

.service-item .service-icon {
    margin: 0 auto 10px auto;
    width: 160px;
    height: auto;
    transition: .5s;
}

.service-item i,
.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF !important;
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../images/video-bg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #32acc6;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #32acc6;
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial {
    /* background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../images/bg_promo2.jpg); */
    background: linear-gradient(rgb(15 23 43 / 35%), rgb(15 23 43 / 30%)), url(../images/bg_promo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-carousel {
    padding-left: 65px;
    padding-right: 65px;
}

.testimonial-carousel .testimonial-item {
    padding: 30px;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #23b0c8;
    border-radius: 2px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #23b0c8;
    background: #FFFFFF;
}


/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Footer ***/
.newsletter {
    position: relative;
    z-index: 1;
}

.footer {
    position: relative;
   
    padding-top: 80px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: #0f172b;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
 .prod-card {  
    position: relative;  
    width: 100%;  
    height: 300px;  
    background: #232323;  
    border-radius: 20px;  
    overflow: hidden;  
    
  }  
   .prod-card:before {  
    content: "";  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: #1BBFE9;  
    clip-path: circle(100px at 100% 4%);  
    transition: 0.5s ease-in-out;  
  }  
   .prod-card:hover:before {  
    clip-path: circle(300px at 50% -30%);  
  }  
   .prod-card:after {  
    content: "Fish Andhra";  
    position: absolute;  
    top: 40%;  
    left: 10%; 
   
    margin:auto;
    font-size: 2em;  
    font-weight: 800;  
    font-style: italic;  
    color: rgba(255, 255, 255, 0.04);  
  }  
   .prod-card .imgBx {  
    position: absolute;  
    top: 50%;  
    transform: translateY(-50%);  
    z-index: 1;  
    width: 100%;  
    height: 100%;  
    transition: .5s;  
  }  
   .prod-card:hover .imgBx {  
    top: 0%;  
    transform: translateY(-25%);  
    /* bug */  
  }  
   .prod-card .imgBx img {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%) ;  
    width: 175px;  
  }  
   .prod-card .contentBx {  
    position: absolute;  
    bottom: 0;  
    width: 100%;  
    height: 100px;  
    text-align: center;  
    transition: 1s;  
    z-index: 1;  
  }  
   .prod-card:hover .contentBx {  
    height: 140px;  
  }  
   .prod-card .contentBx h2 {  
    position: relative;  
    font-weight: 600;  
    letter-spacing: 1px;  
    color: #fff;
    font-size: 22px; 
  }  
   .prod-card .contentBx .size,  
   .prod-card .contentBx .color {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 8px 20px;  
    transition: .5s;  
    opacity: 0;  
    visibility: hidden;  
  }  
   .prod-card:hover .contentBx .size {  
    opacity: 1;  
    visibility: visible;  
    transition-delay: .5s;  
  }  
   .prod-card:hover .contentBx .color {  
    opacity: 1;  
    visibility: visible;  
    transition-delay: .6s;  
  }  
   .prod-card .contentBx .size h3,  
   .prod-card .contentBx .color h3 {  
    color: white;  
    font-weight: 300;  
    font-size: 14px;  
    text-transform: uppercase;  
    letter-spacing: 2px;  
    margin-right: 10px;  
  }  
   .prod-card .contentBx .size span {  
    width: 26px;  
    height: 26px;  
    text-align: center;  
    line-height: 26px;  
    font-size: 14px;  
    display: inline-block;  
    color: #111;  
    background: #fff;  
    margin: 0 5px;  
    transition: .5s;  
    color: #111;  
    border-radius: 4px;  
    cursor: pointer;  
  }  
   .prod-card .contentBx .size span:hover { /* other bug */  
    background: #B90000;  
  }  
   .prod-card .contentBx .color span {  
    width: 20px;  
    height: 20px;  
    background: #ff0;  
    border-radius: 50%;  
    margin: 0 5px;  
    cursor: pointer;  
  }  
   .prod-card .contentBx .color span:nth-child(2) {  
     background: #1BBFE9;  
  }  
   .prod-card .contentBx .color span:nth-child(3) {  
     background: #1B2FE9;  
  }  
   .prod-card .contentBx .color span:nth-child(4) {  
     background: #080481;  
  }  
   .prod-card .contentBx a {  
    display: inline-block;  
    padding: 10px 20px;  
    background: #fff;  
    border-radius: 4px;  
    margin-top: 10px;  
    text-decoration: none;  
    font-weight: 600;  
    color: #111;  
    opacity: 0;  
    transform: translateY(50px);  
    transition: .5s;  
  }  
   .prod-card:hover .contentBx a {  
    opacity: 1;  
    transform: translateY(0px);  
    transition-delay: .7s;  
  }   

  .tabs-container {
	padding: 2rem;
}

/**
 * Tabs Block
 */
.up-tabs-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

/**
 * Tabs
 */
.up-tabs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
  justify-content: end;
}

.up-tabs label {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	margin-right: 0.0625rem;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	transition: background-color ease 0.3s;
}

.up-tabs label .material-icons {
	margin-right: 0.3rem;
}

.up-tabs .tab {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: none;
	padding: 1rem 2rem;
	color: #000;
	background-color: #fff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.up-tabs .tab > *:not(:last-child) {
	margin-bottom: 0.8rem;
}

.up-tabs [type=radio] {
	display: none;
}

.up-tabs [type=radio]:checked + label {
	background-color: #fff;
	color: #23b0c8;
	border-top: 4px solid #23b0c8;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.up-tabs [type=radio]:checked + label + .tab {
	display: block;
}
@media (min-width: 768px) {

	body {
		font-size: 1.125rem;
	}

	.up-tabs-container {
		padding: 4rem 4rem;
	}

	.up-tabs label {
		order: 1;
		width: auto;
	}

	.up-tabs .tab {
		order: 9;
	}

	.up-tabs [type=radio]:checked + label {
		border-bottom: none;
	}
}
.buy{
    animation: glowing1 1300ms infinite;
}
/* @keyframes glowing1 {
    0% {
      background-color: #23b0c8;
      box-shadow: 0 0 3px #23b0c8;
    }
    50% {
      background-color: #23b0c8;
      box-shadow: 0 0 10px #23b0c8;
    }
    100% {
      background-color: #23b0c8;
      box-shadow: 0 0 3px #23b0c8;
    }
  } */
  .acti img{
    height:350px !important
  }
  .about-left-img-wrap {
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.about-left-img-wrap .big-img {
  border-radius: 30px;
  position: relative;
  box-shadow: 25px 25px 7px 2px #0f172b73;
}
.about-left-img-wrap .big-img img {
    border-radius: 30px;
}
 .about-left-img-wrap .sm-img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    border: 1px solid #00000062;
    position: relative;
    position: absolute;
    bottom: -45px;
    left: -45px;
    z-index: 10;
}
 .about-left-img-wrap .sm-img img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
}
.service-item h5{
    font-size: 18px !important;
}



  .wrapper nav{
    display: flex;
    justify-content: center;
  }
  .wrapper .items{
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
  }
  .items span{
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #0dcaf0;
    border-radius: 50px;
    border: 2px solid #0dcaf0;
    transition: all 0.3s ease;
  }
  .items span.active,
  .items span:hover{
    color: #fff;
    background: #0dcaf0;
  }
  
  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .gallery .image{
    width: calc(100% / 5);
    padding: 7px;
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
   
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  /* .gallery .image:hover img{
    transform: scale(1.1);
  } */
  .gallery .image.hide{
    display: none;
  }
  .gallery .image.show{
    animation: animate 0.4s ease;
  }
  @keyframes animate {
    0%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }
  
  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    font-weight: 500;
    margin-left: 5px;
  }
  .details .icon{
    color: #0dcaf0;
    font-style: 22px;
    cursor: pointer;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
  }
  .shadow.show{
    display: block;
  }
  
  @media (max-width: 1000px) {
    .gallery .image{
      width: calc(100% / 3);
    }
  }
  @media (max-width: 800px) {
    .gallery .image{
      width: calc(100% / 2);
    }
  }
  @media (max-width: 700px) {
    .wrapper nav .items{
      max-width: 600px;
    }
    nav .items span{
      padding: 7px 15px;
    }
  }
  @media (max-width: 600px) {
    .wrapper{
      margin: 30px auto;
    }
    .wrapper nav .items{
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .items span{
      margin: 5px;
    }
    .gallery .image{
      width: 100%;
    }
  }
  /* Login Css Start */

.form{
    width: 23em;
    padding:2em;
    border-radius: 1em;
    box-shadow: 0 10px 25px rgba(90,100,100,.2);
    background-color: #fff;
}

.form_title{
    font-weight: 600;
    margin-bottom: 0.3em;
}

.form_div{
    position: relative;
    height: 2.2em;
    margin-bottom: 1.5em;
}


.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: .1em solid #dadce0;
    border-radius: .5em;
    outline: none;
    padding: 1em;
    z-index: 1;
    background: none;
}

.form_label{
    position: absolute;
    left: 1em;
    top: 8px;
    padding: 0 .25em;
    background-color: #fff;
    color: #80868b;
    font-size: 15px;
    transition: .4s;
}

.form_button{
    width: 100%;
    display: block;
    margin-left: auto;
    padding: 0.5em 2em;;
    outline: none;
    border: none;
    background-color: rgb(28,164,248);
    color: #fff;
    font-size: 1em;
    border-radius: .5em;
    cursor: pointer;
    transition: .4s;
    margin-top: 1.3em;
}

.form_button:hover{
    transform: scale(0.90);
    box-shadow: 0 5px 5px rgba(0,0,0,0.20);
}

.form_input:focus + .form_label{
    top: -.5em;
    left: .8em;
    color: rgb(28,164,248);
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
}

.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label{
    top: -.5em;
    left: .8em;
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
}

.form_input:focus{
    border: .1em solid rgb(28,164,248);
}

.login_form #captcha{
    margin: 15px 0px;
}

.login_form #captcha .preview{
    color: #555;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    letter-spacing: 8px;
    border: 1px dashed #888;
    border-radius: 0.5em;
    margin-bottom: 1.6em;

}

.form_input_captcha {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: 0.1em solid #dadce0;
    border-radius: 0.5em;
    outline: none;
    padding: 1em;
    z-index: 1;
    background: none;
} 


.form_label_captcha {
  position: absolute;
  left: 1em;
  top: 5em;
  padding: 0 0.25em;
  background-color: #fff;
  color: #80868b;
  font-size: 16px;
  transition: .4s;
}

.form_input_captcha:focus + .form_label_captcha{
    top: 4.7em;
    left: .8em;
    color: rgb(28,164,248);
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
}

.form_input_captcha:not(:placeholder-shown).form_input_captcha:not(:focus) + .form_label_captcha{
    top: 4.6em;;
    left: .8em;
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
}

.form_input_captcha:focus{
    border: .1em solid rgb(28,164,248);
}

.login_form #captcha .preview span{
    display: inline-block;
    user-select: none;
}

.login_form #captcha .captcha_form{
    display: flex;
}

.login_form #captcha .captcha_form input{
    width: 100%;
    font-size: 16px;
    border-radius: 0.5em;
    outline: none; 
    padding: 0.5em;
    z-index: 1;
    background: none;
}


.login_form #captcha .captcha_form .captcha_refersh{
    width: 40px;
    border: none;
    outline: none;
    background: #2c254d;
    color: #eee;
    cursor: pointer;
    border-radius: 0.5em;
    margin-left: 5px;
}
.captcha_refersh{
    transition: .4s;

}
.form_input-one {
  height: 37px;
}
.captcha_refersh:hover{
    transition: .4s;

    transform: scale(0.90);
}
i.fa.fa-refresh::before {
  content: "\f021";
  font-size: 16px;
}
section.login-section {
  background-image: url(./images/bg-fishes.png);
  background-repeat: repeat;
  background-position: center;
  background-size: 25%;
  background: linear-gradient(90deg, rgba(35,176,200,1) 0%, rgba(44,37,77,1) 100%);
}
  /* Login Css Ends */
  .enquiry-input {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #ccc;
}
.enquiry-textarea {
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px #ccc;
}
from.enquiry-form label {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}
.sub-title li {
  padding-bottom: 10px;
  color: #026e88;
}
.videos-photos img {
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #ccc;
  border: 2px solid #32acc6;
  width: 100%;
  height: 200px;
}
.feedback-content {
  width: 100%;
  max-width: 1000px;
}
.radio-btn {
  display: flex;
}
.form-check label {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
label.form-label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.form-check-input:focus {
  border-color: #32acc6;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(15 23 43 / 18%);
}
.form-check-input:checked {
  background-color: #32acc6;
  border-color: #32acc6;
}
span.total-visit {
  font-size: 17px;
  font-weight: 700;
}
span.visit-text {
  padding: 0px 6px 0px 6px;
  border-radius: 3px;
  background: #32acc6;
  margin-right: -2px;
  font-size: 22px;
}