<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY -  URBAN  OR RURAL REGISTERED DATA  REPORT</h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-2">
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')"  class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                  <!--   <button type="button" (click)="GetSurveyReportdata()" class="btn btn-primary btn-sm mt-1">GET</button> -->
                </div>
               
                    
                    <div class="row" >
                       
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 mt-2" >
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                   
                                    <tr >
                                        <th  >S.No</th>
                                        <th  >District Name</th>
                                        <th  >District Code</th>
                                        <th *ngIf="Swatch_Ur == 'U'" >Ulb Name</th>
                                        <th *ngIf="Swatch_Ur == 'U'" >Ulb Code</th>
                                        <th  *ngIf="Swatch_Ur == 'R'">Mandal Name</th>
                                        <th  *ngIf="Swatch_Ur == 'R'">Mandal Code</th>
                                        <th  *ngIf="Swatch_Ur == 'R'">GP Name</th>
                                        <th  *ngIf="Swatch_Ur == 'R'">GP Code</th>
                                        <th  *ngIf="Swatch_Ur== 'U'">Ward No</th>
                                        <th  *ngIf="Swatch_Ur == 'U'">Ward Code</th>
                                        <th  *ngIf="Swatch_Ur == 'R'">Village Name</th>
                                        <th  *ngIf="Swatch_Ur== 'R'">Village Code</th>
                                    </tr>
                                   
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of URCountdata;let sno=index;">
                                        <td>{{sno+1}}</td>
                                        <td>{{s.DISTRICT_NAME}}</td>
                                        <td>{{s.DISTRICT_CODE}}</td>
                                        <td>{{s.MANDAL_NAME}}</td>
                                        <td>{{s.MANDAL_CODE}}</td>
                                        <td *ngIf="Swatch_Ur == 'R'">{{s.GP_NAME}}</td>
                                        <td *ngIf="Swatch_Ur == 'R'">{{s.GP_CODE}}</td>
                                        <td>{{s.VILLAGE_NAME}}</td>
                                        <td>{{s.VILLAGE_CODE}}</td>
                                      
                                      
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-section1 bg-dark py-2" style="
width: 100%;
bottom: 0;">
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div> -->
        <div class="container pb-2">
            <div class="row g-2">

                <div class="col-md-6 col-lg-9">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                        H.No. 54-16-1/14D, 3rd Floor, <br>
                        Road No.2, Central Excise Colony,<br>
                        Andhra Loyola College Road, Vijayawada.<br>
                        Andhra Pradesh</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                        &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

  