<!-- <section class="top-bar-section">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-xl-12">
                <div class="logo-block d-flex justify-content-between">
                    <span class="cm-blk d-flex">
                        <img src="assets/images/cm-1.png" class="img-fluid me-3" alt="Image">
        
                            <h5 class="text-dark fw-bolder fs-6 pt-4 mt-2">Sri Y.S. Jagan Mohan Reddy <br><p class="mb-0 fs-6 fw-normal text-success">Hon'ble Chief Minister,
                                Andhra Pradesh</p></h5>
                            
                        </span>
                    <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                    <img src="assets/images/Swachha-Andhra-Logo.png" class="img-fluid sal-img" alt="Image">
                    <img src="assets/images/swachha-logo.png" class="img-fluid" alt="Image">
                    <span class="cm-blk d-flex">
                        <img src="assets/images/suresh-audimulapu-2.png" class="img-fluid me-3" alt="Image">
        
                            <h5 class="text-dark fw-bolder fs-6 pt-4 mt-2">Dr.Audimulapu Suresh <br><p class="mb-0 fs-6 fw-normal text-success">Hon'ble Minister for MA & UD, Andhra Pradesh</p></h5>
                            
                        </span>
                </div>
            </div>
           
        </div>
    </div>
    </section> -->
    <section class="top-bar-section pt-2 pb-2">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-xl-12">
                    <div class="logo-block justify-content-between">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-12 col-xl-2">
                                <span class="cm-blk">
                                    <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                                    </span>
                            </div>
                            <div class="col-12 col-xl-7">
                                <div class="heading-text text-center text-uppercase">
                                    <h3 class="mb-0 fw-bolder">SAFAIMITRA SURVEY</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-3 text-end">
                                <div class="loginbtn-blk">
                                    <div class="pt-2">
                                        <a class="btn btn-outline-light btn-social bg-fb me-2" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                            class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-outline-light btn-social bg-twi me-2"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                                        
                                        <a class="btn btn-outline-light btn-social bg-inst me-2" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                                <a class="btn btn-outline-light btn-social bg-yout me-2" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <span class="cm-blk d-flex">
                            <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                            </span>
                        
                        <h4 class="mb-0">Core Sanitation Workers Survey</h4>
                        <span class="cm-blk d-flex">
                            <img src="assets/images/suresh-audimulapu-2.png" class="img-fluid me-3" alt="Image">
            
                                <h5 class="text-dark fw-bolder fs-6 pt-4 mt-2">Dr.Audimulapu Suresh <br><p class="mb-0 fs-6 fw-normal text-success">Hon'ble Minister for MA & UD, Andhra Pradesh</p></h5>
                                
                            </span> -->
                    </div>
                </div>
                <!-- <div class="col-4 col-xl-3">
                    <div class="logo-block">
                        
                    </div>
                </div>
                
                <div class="col-4 col-xl-3">
                    <div class="logo-block">
                     <img src="assets/images/Swachha-Andhra-Logo.png" class="img-fluid" alt="Image">
                    </div>
                </div> -->
            </div>
        </div>
        </section>
    <section class="navbar-section">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg bg-white navbar-dark navbg-blue p-3 p-lg-0">
                    <!-- <a href="" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 text-primary text-uppercase">Swachha Andhra Corporation</h1>
                    </a> -->
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <!-- <div class="navbar-nav mr-auto py-2 px-4" style="width: 20%;">
                            <a routerLink="Home" class="me-3"><img src="/assets/images/clap-logo-white.png" class="img-fluid site-logo"
                                    alt="Logo"></a>
                        </div> -->
                        <div class="navbar-nav mr-auto py-1 px-4">
                            <!-- <a routerLink="Home" class="me-3"><img src="/assets/images/clap-logo-white.png" class="img-fluid site-logo me-3"
                                    alt="Logo"></a> -->
                                    <span >  <a href="javascript:void(0);" routerLink="/Home" class="nav-item nav-link" routerLinkActive="active">Home</a> </span>
                                    <span > <a href="javascript:void(0);" routerLink="/Dashboard" class="nav-item nav-link" routerLinkActive="active">Analysis</a> </span> 
                              <!--     <span *ngIf="roleid !='1003' && roleid !='1004'">  <a href="javascript:void(0);" routerLink="/Home" class="nav-item nav-link" routerLinkActive="active">Home</a> </span>
                                  <span *ngIf="roleid !='1003' && roleid !='1004'"> <a href="javascript:void(0);" routerLink="/Dashboard" class="nav-item nav-link" routerLinkActive="active">Analysis</a> </span> -->
                                  <div class="nav-item dropdown" *ngIf="roleid =='1003' || roleid =='1004'">
                                    <a *ngIf="roleid =='1003'"  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLinkActive="active">Approve Screen
                                    </a>
                                    <a *ngIf="roleid =='1004'"  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLinkActive="active">Approve/Reject Screen
                                    </a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                     
                                        <a href="javascript:void(0);" routerLink="/ApproveForm" class="dropdown-item" routerLinkActive="active">Safaimitra Surveyed Records Approve Form</a>
                                       
                                    </div>
                                </div>
                            <div class="nav-item dropdown">
                                <a   class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLinkActive="active">Reports
                                </a>
                                <div class="dropdown-menu rounded-0 m-0">
                                 
                                    <a href="javascript:void(0);" routerLink="/SACSurveyReport" class="dropdown-item" routerLinkActive="active">1.Safaimitra Survey Report</a>
                               
                                    <a href="javascript:void(0);" routerLink="/GenderReport" class="dropdown-item" >2.Gender Report</a>
                               
                                    <a href="javascript:void(0);" routerLink="/CasteReport" class="dropdown-item" >3.Caste Report</a>
                               
                                    <a href="javascript:void(0);" routerLink="/AgeReport"  class="dropdown-item">4.Age Report</a>
                                    <a href="javascript:void(0);" routerLink="/EducationalReport"  class="dropdown-item">5.Educational Report</a>

                                    <a href="javascript:void(0);" routerLink="/EmploymentReport" class="dropdown-item" >6.Employment Report</a>
                                    <a href="javascript:void(0);" routerLink="/FemaleheadReport" class="dropdown-item" >7.Female Sanitation Workers Report</a>
                                    <a href="javascript:void(0);" routerLink="/HealthReport"  class="dropdown-item">8.Health Report</a>
                                    <a href="javascript:void(0);" routerLink="/WorkActivityReport"  class="dropdown-item">9.Work Activity Report</a>
                                    <a href="javascript:void(0);" routerLink="/PermanentdisabilityReport"  class="dropdown-item">10.Permanent Disability Report</a>
                                    <a href="javascript:void(0);" routerLink="/Approvecounts"  class="dropdown-item">11.Approve/Reject Report</a>
                                    <span> <a  href="javascript:void(0);" routerLink="/Surveyedregcounts"  class="dropdown-item">12.Surveyor Login Registration Report</a></span> 
                                    <span *ngIf="roleid =='1001'"> <a  href="javascript:void(0);" routerLink="/Details"  class="dropdown-item">13.Urban Or Rural Registered  Data</a></span> 
                                    <span *ngIf="roleid =='1001' || roleid =='1006' "> <a  href="javascript:void(0);" routerLink="/Registrationstatusreport"  class="dropdown-item">13.Registration Survey Status Report</a></span> 
                                </div>
                            </div>
                            <span *ngIf="loginur =='R' && roleid =='1004'"> <a href="javascript:void(0);" routerLink="/Addvillage" class="nav-item nav-link" routerLinkActive="active">Add Village</a> </span>
                            <span *ngIf="(roleid =='1006'|| roleid =='1001')"> <a href="javascript:void(0);" routerLink="/Villagedeletion" class="nav-item nav-link" routerLinkActive="active">Village deletion</a> </span>
                        </div>
                        
                        <div class="app-iconblk text-end d-inline-flex pe-5">
                            <a href="#" class="dropdown-item me-4 text-white">
                                <h5 class="mb-0 fs-6">Welcome {{Name}}</h5>
                                <p class="mb-0 text-white fs-6">Aug 16, 2023, <span>5:19:00</span></p>
                            </a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown"><i class="fa fa-power-off"></i></a>
                                <div class="dropdown-menu rounded-0 logout-dropdown">
                                    <a href="#" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  </nav>
            </div>
        </div>
    </section>

    <div class="main">

    <section class="analysis-section">
        <div class="container-fluid py-5">
            

            <div class="row mb-4">

                
<!-- Gender chartdivpie -->

                <div class="col-lg-6 col-12">
                    <div class="card p-3">
                    <div class="bg-light p-2">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <h5 class="text-dark fs-6 fw-bolder">Gender</h5>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                          
                            <div class="form-check d-flex px-0" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                                <div class="me-3">
                                    <input  type="radio" ng-control="options" value="total" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                         (change)="getGender('total','genderreport')" [checked]="isgenchecked" class="me-2">
                                    <label class="custom-control-label" for="catrad">Total</label>
                                </div>
                                <div>
                                    <input  type="radio" ng-control="options" value="urban" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                        (change)="getGender('urban','genderreport')"  class="me-2">
                                    <label class="custom-control-label" for="catrad1" class="me-2">Urban</label >
                                </div>
                                <div>
                                    <input  type="radio" ng-control="options" value="rural" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                        (change)="getGender('rural','genderreport')"  class="me-2" >
                                    <label class="custom-control-label" for="catrad1">Rural</label>
                                </div>
                            </div>
                       
                        </div>
                        <div id="chartdivpie" class="gender-chart"></div>
                        
                    </div>
                </div>
                </div>

<!--  Age chartdivpie1 -->
                <div class="col-lg-6 col-12">
                    <div class="card p-3">
                        <div class="bg-light p-2">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <h5 class="text-dark fs-6 fw-bolder">Age</h5>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-check d-flex px-0" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                                    <div class="me-3">
                                        <input  type="radio" ng-control="options" value="total" name="catrada" id="catrada" [(ng-model)]="Swatch_Ur"
                                             (change)="getAge('total','Agereport')" [checked]="isgenchecked1" class="me-2">
                                        <label class="custom-control-label" for="catrada">Total</label>
                                    </div>
                                    <div>
                                        <input  type="radio" ng-control="options" value="urban" name="catrada" id="catrada1"  [(ng-model)]="Swatch_Ur"
                                            (change)="getAge('urban','Agereport')"  class="me-2">
                                        <label class="custom-control-label" for="catrada1" class="me-2" >Urban</label>
                                    </div>
                                    <div>
                                        <input  type="radio" ng-control="options" value="rural" name="catrada" id="catrada1"  [(ng-model)]="Swatch_Ur"
                                            (change)="getAge('rural','Agereport')"  class="me-2">
                                        <label class="custom-control-label" for="catrada1">Rural</label>
                                    </div>
                                </div>
                               
                            </div>
                            <div id="chartdivpie1" style="height: 350px;width: 100%;"></div>
                   <!--          <div id="chartdivpie1" class="gender-chart"></div> -->
                        </div>
                    </div>
                </div>
            
            </div>

            <div class="row mb-4">

                <!-- Caste chartdivpie2 -->

                <div class="col-lg-4 col-12">
                    <div class="card p-3">
                        <div class="bg-light p-2">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <h5 class="text-dark fs-6 fw-bolder">Caste</h5>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-check d-flex px-0" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                                    <div class="me-3">
                                        <input  type="radio" ng-control="options" value="total" name="catradc" id="catradc" [(ng-model)]="Swatch_Ur"
                                             (change)="getCaste('total','Castreport')" [checked]="isgenchecked2" class="me-2" >
                                        <label class="custom-control-label" for="catradc" class="me-2">Total</label>
                                    </div>
                                    <div>
                                        <input  type="radio" ng-control="options" value="urban" name="catradc" id="catradc1"  [(ng-model)]="Swatch_Ur"
                                            (change)="getCaste('urban','Castreport')"  class="me-2">
                                        <label class="custom-control-label" for="catradc1" class="me-2">Urban</label>
                                    </div>
                                    <div>
                                        <input  type="radio" ng-control="options" value="rural" name="catradc" id="catradc1"  [(ng-model)]="Swatch_Ur"
                                            (change)="getCaste('rural','Castreport')" class="me-2" >
                                        <label class="custom-control-label" for="catradc1" class="me-2">Rural</label>
                                    </div>
                                </div>
                               
                            </div>
                            <div id="chartdivpie2" class="gender-chart"></div>
                        </div>
                    </div>
                </div>
 <!-- chartdivpie3 -->               
                <div class="col-lg-4 col-12">
                    <div class="card p-3">
                    <div class="bg-light p-2">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <h5 class="text-dark fs-6 fw-bolder">Educational Status - Sanitation Worker </h5>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-check d-flex px-0" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                                <div class="me-3">
                                    <input  type="radio" ng-control="options" value="total" name="catrade" id="catrade" [(ng-model)]="Swatch_Ur"
                                         (change)="getEduStatus('total','edustationreport')" [checked]="isgenchecked3" class="me-2" >
                                    <label class="custom-control-label" for="catrade" class="me-2">Total</label>
                                </div>
                                <div>
                                    <input  type="radio" ng-control="options" value="urban" name="catrade" id="catrade1"  [(ng-model)]="Swatch_Ur"
                                        (change)="getEduStatus('urban','edustationreport')" class="me-2" >
                                    <label class="custom-control-label" for="catrade1" class="me-2">Urban</label>
                                </div>
                                <div>
                                    <input  type="radio" ng-control="options" value="rural" name="catrade" id="catrade1"  [(ng-model)]="Swatch_Ur"
                                        (change)="getEduStatus('rural','edustationreport')"  class="me-2">
                                    <label class="custom-control-label" for="catrade1" class="me-2">Rural</label>
                                </div>
                            </div>
                           
                        </div>
                        <div id="chartdivpie3" class="gender-chart"></div>
                    </div>
                </div>
                </div>

<!-- chartdivpie4 -->
                <div class="col-lg-4 col-12">
                    <div class="card p-3">
                        <div class="bg-light p-2">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <h5 class="text-dark fs-6 fw-bolder">Educational Status – Sanitation Worker Families</h5>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-check d-flex px-0" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                                    <div class="me-3">
                                        <input  type="radio" ng-control="options" value="total" name="catradf" id="catradf" [(ng-model)]="Swatch_Ur"
                                             (change)="getfamilystatus('total','family')" [checked]="isgenchecked4"  class="me-2">
                                        <label class="custom-control-label" for="catradf" class="me-2">Total</label>
                                    </div>
                                    <div>
                                        <input  type="radio" ng-control="options" value="urban" name="catradf" id="catradf1"  [(ng-model)]="Swatch_Ur"
                                            (change)="getfamilystatus('urban','family')" class="me-2" >
                                        <label class="custom-control-label" for="catradf1" class="me-2">Urban</label>
                                    </div>
                                    <div>
                                        <input  type="radio" ng-control="options" value="rural" name="catradf" id="catradf1"  [(ng-model)]="Swatch_Ur"
                                            (change)="getfamilystatus('rural','family')" class="me-2" >
                                        <label class="custom-control-label" for="catradf1" class="me-2">Rural</label>
                                    </div>
                                </div>
                               
                            </div>
                          
                            <div id="chartdivpie4" class="gender-chart"></div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <section class="footer-section style= position: fixed ">
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
            <!-- <div class="ocean">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </div> -->
            <div class="container pb-2">
                <div class="row g-2">

                    <div class="col-md-6 col-lg-9">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                            H.No. 54-16-1/14D, 3rd Floor, <br>
                            Road No.2, Central Excise Colony,<br>
                            Andhra Loyola College Road, Vijayawada.<br>
                            Andhra Pradesh</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                        <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">

                        <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                            &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
  <!--   <section class="footer-section1 bg-dark py-2" style="position: fixed;
    width: 100%;
    bottom: 0;">
        <div class="container-xxl">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-md-12">
                    <div class="footer-blk">
                        <div class="copyright">
                            <p class="text-white mb-0 fs-6">Copyright © 2023 by <a class="text-white fw-bolder" href=""
                                    target="_blank">Swachha Andhra</a>, All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    </div>