ul.ul-submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.ul-submenu li a {
    color: #fff;
    font-size: 17px;
}
.phase-active{
    background-color: #32acc6 !important;
    color: #fff !important;
  }
  .logo-block img {
    width: 100px;
  }
  img.sal-img {
    width: 220px !important;
}
section.top-bar-section {
    background-image: url(/assets/images/topbar-bg-gray.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
#chartdivpie {
    width: 100%;
    height: 500px;
}
#chartdivpie1 {
    width: 100%;
    height: 500px;
}
#chartdivpie2 {
    width: 100%;
    height: 500px;
}
#chartdivpie3 {
    width: 100%;
    height: 500px;
}
#chartdivpie4 {
    width: 100%;
    height: 500px;
}
#chartdivpie5 {
    width: 100%;
    height: 500px;
}
.gender-chart {
    max-width: 590px;
    max-height: 350px;
}









.amcharts-series .amcharts-graph-column {
    fill: #38c87b; /* Change column chart color */
  }
  .bg-fb {
    background-color: #3b5998;
  }
  .bg-twi {
    background-color: #55acee;
  }
  .bg-inst {
    background-color: #ac2bac;
  }
  .bg-yout {
    background-color: #ed302f;
  }

  .key-dot {
    display: inline-block;
    height: 10px;
    margin-left: 1em;
    width: 10px;
  }

  .legendLabel {
    display: inline;
    cursor: pointer;
  }


  .legendLabelList {
    display: list-item;
    cursor: pointer;
  }