<!-- <section class="top-bar-section">
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-xl-12">
            <div class="logo-block d-flex justify-content-between">
                <span class="cm-blk d-flex">
                    <img src="assets/images/cm-1.png" class="img-fluid me-3" alt="Image">
    
                        <h5 class="text-dark fw-bolder fs-6 pt-4 mt-2">Sri Y.S. Jagan Mohan Reddy <br><p class="mb-0 fs-6 fw-normal text-success">Hon'ble Chief Minister,
                            Andhra Pradesh</p></h5>
                        
                    </span>
                <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                <img src="assets/images/Swachha-Andhra-Logo.png" class="img-fluid sal-img" alt="Image">
                <img src="assets/images/logos/safaimitra-logo-tel-textblue.png" class="img-fluid" alt="Image">
                <span class="cm-blk d-flex">
                    <img src="assets/images/suresh-audimulapu-2.png" class="img-fluid me-3" alt="Image">
    
                        <h5 class="text-dark fw-bolder fs-6 pt-4 mt-2">Dr.Audimulapu Suresh <br><p class="mb-0 fs-6 fw-normal text-success">Hon'ble Minister for MA & UD, Andhra Pradesh</p></h5>
                        
                    </span>
            </div>
        </div>
      
    </div>
</div>
</section> -->
<section class="top-bar-section pt-2 pb-2">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-xl-12">
                <div class="logo-block justify-content-between">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-xl-2">
                            <span class="cm-blk">
                                <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                                </span>
                        </div>
                        <div class="col-12 col-xl-7">
                            <div class="heading-text text-center text-uppercase">
                                <h3 class="mb-0 fw-bolder">SAFAIMITRA SURVEY</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 text-end">
                            <div class="loginbtn-blk">
                                <div class="pt-2">
                                    <a class="btn btn-outline-light btn-social bg-fb me-2" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-outline-light btn-social bg-twi me-2"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                                    
                                    <a class="btn btn-outline-light btn-social bg-inst me-2" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                            class="fab fa-instagram"></i></a>
                                            <a class="btn btn-outline-light btn-social bg-yout me-2" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <span class="cm-blk d-flex">
                        <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                        </span>
                    
                    <h4 class="mb-0">Core Sanitation Workers Survey</h4>
                    <span class="cm-blk d-flex">
                        <img src="assets/images/suresh-audimulapu-2.png" class="img-fluid me-3" alt="Image">
        
                            <h5 class="text-dark fw-bolder fs-6 pt-4 mt-2">Dr.Audimulapu Suresh <br><p class="mb-0 fs-6 fw-normal text-success">Hon'ble Minister for MA & UD, Andhra Pradesh</p></h5>
                            
                        </span> -->
                </div>
            </div>
            <!-- <div class="col-4 col-xl-3">
                <div class="logo-block">
                    
                </div>
            </div>
            
            <div class="col-4 col-xl-3">
                <div class="logo-block">
                 <img src="assets/images/Swachha-Andhra-Logo.png" class="img-fluid" alt="Image">
                </div>
            </div> -->
        </div>
    </div>
    </section>
<section class="navbar-section">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-white navbar-dark navbg-blue p-3 p-lg-0">
                <!-- <a href="" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">Swachha Andhra Corporation</h1>
                </a> -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <!-- <div class="navbar-nav mr-auto py-2 px-4" style="width: 20%;">
                        <a routerLink="Home" class="me-3"><img src="/assets/images/clap-logo-white.png" class="img-fluid site-logo"
                                alt="Logo"></a>
                    </div> -->
                    <div class="navbar-nav mr-auto py-1 px-4">
                        <!-- <a routerLink="Home" class="me-3"><img src="/assets/images/clap-logo-white.png" class="img-fluid site-logo me-3"
                                    alt="Logo"></a> -->
                  
                            <!--         <span >  <a href="javascript:void(0);"  class="nav-item nav-link" routerLinkActive="active">Home</a> </span>
                                    <span >   <a href="javascript:void(0);"  class="nav-item nav-link" routerLinkActive="active">Analysis</a> </span> -->
                                <span >  <a href="javascript:void(0);" routerLink="/Home" class="nav-item nav-link" routerLinkActive="active">Home</a> </span>
                                    <span > <a href="javascript:void(0);" routerLink="/Dashboard" class="nav-item nav-link" routerLinkActive="active">Analysis</a> </span> 
                                 
                        <div class="nav-item dropdown" *ngIf="roleid =='1003' || roleid =='1004'">
                            <a *ngIf="roleid =='1003'"  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLinkActive="active">Approve Screen
                            </a>
                            <a *ngIf="roleid =='1004'"  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLinkActive="active">Approve/Reject Screen
                            </a>
                            <div class="dropdown-menu rounded-0 m-0">
                             
                                <a href="javascript:void(0);" routerLink="/ApproveForm" class="dropdown-item" routerLinkActive="active">Safaimitra Surveyed Records Approve Form</a>
                               
                            </div>
                        </div>
                        
                        <div class="nav-item dropdown">
                            <a   class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLinkActive="active">Reports
                            </a>
                            <div class="dropdown-menu rounded-0 m-0">
                             
                                <a href="javascript:void(0);" routerLink="/SACSurveyReport" class="dropdown-item" routerLinkActive="active">1.Safaimitra Survey Report</a>
                               
                                    <a href="javascript:void(0);" routerLink="/GenderReport" class="dropdown-item" >2.Gender Report</a>
                               
                                    <a href="javascript:void(0);" routerLink="/CasteReport" class="dropdown-item" >3.Caste Report</a>
                               
                                    <a href="javascript:void(0);" routerLink="/AgeReport"  class="dropdown-item">4.Age Report</a>
                                    <a href="javascript:void(0);" routerLink="/EducationalReport"  class="dropdown-item">5.Educational Report</a>

                                    <a href="javascript:void(0);" routerLink="/EmploymentReport" class="dropdown-item" >6.Employment Report</a>
                                    <a href="javascript:void(0);" routerLink="/FemaleheadReport" class="dropdown-item" >7.Female Sanitation Workers Report</a>
                                   
                                    <a href="javascript:void(0);" routerLink="/HealthReport"  class="dropdown-item">8.Health Report</a>
                                    <a href="javascript:void(0);" routerLink="/WorkActivityReport"  class="dropdown-item">9.Work Activity Report</a>
                                    <a href="javascript:void(0);" routerLink="/PermanentdisabilityReport"  class="dropdown-item">10.Permanent Disability Report</a>
                                    <span> <a  href="javascript:void(0);" routerLink="/Approvecounts"  class="dropdown-item">11.Approve/Reject Report</a></span> 
                                    <span> <a  href="javascript:void(0);" routerLink="/Surveyedregcounts"  class="dropdown-item">12.Surveyor Login Registration Report</a></span> 
                                    <span *ngIf="roleid =='1001'"> <a  href="javascript:void(0);" routerLink="/Details"  class="dropdown-item">13.Urban Or Rural Registered  Data</a></span> 
                                    <span> <a  href="javascript:void(0);" routerLink="/District"  (click)="urbanfun(1)" class="dropdown-item">District Urban1</a></span> 
                                    <span> <a  href="javascript:void(0);" routerLink="/District"  (click)="urbanfun(2)" class="dropdown-item">District Urban2
                                       
                                                          

                                    </a></span> 

                                </div>
                        </div>
                        <span *ngIf="loginur =='R' && roleid =='1004'"> <a href="javascript:void(0);" routerLink="/Addvillage" class="nav-item nav-link" routerLinkActive="active">AddVillage</a> </span>
                        <span *ngIf="(roleid =='1006'|| roleid =='1001')"> <a href="javascript:void(0);" routerLink="/Villagedeletion" class="nav-item nav-link" routerLinkActive="active">Village deletion</a> </span>
                    </div>
                    
                    <div class="app-iconblk text-end d-inline-flex pe-5">
                        <a href="#" class="dropdown-item me-4 text-white">
                            <h5 class="mb-0 fs-6">Welcome {{Name}}</h5>
                            <p class="mb-0 text-white fs-6"> Last Login Time {{today   | date :'medium'}}</p>
                        </a>
                        <div class="nav-item dropdown">
                            <a  class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown"><i class="fa fa-user"></i></a>
                            <div class="dropdown-menu rounded-0 logout-dropdown">
                               
                                <a href="#" (click)="logout()" class="dropdown-item">Logout</a>
                                <a   routerLink="Changepassword" class="dropdown-item">Change Password</a>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
              </nav>
        </div>
    </div>
</section>