
        <!-- Login Section Strats -->
        <section class="login-section pt-4 pb-5 d-flex flex-column align-items-center text-center justify-content-center">
            <div class="container-xxl">
                <div class="row mb-5">
                    <div class="ticker">
                        <div class="title">
                            <h5 class="text-white">Note:</h5>
                        </div>
                        <div class="news">
                            <marquee class="news-content" onMouseOver="this.stop()" onMouseOut="this.start()">
                                <!-- <p><img src="assets/images/newst-img1.png" class="img-fluid blink-soft" alt="newset-img"> Welcome to
                                    Core Sanitation Workers Survey Application.</p> -->
                                <p>This survey is being conducted by the Department of Municipal Administration and Urban Development to identify and create database of core sanitation workers and their socio-economic conditions for providing benefits of welfare schemes of Government. Your information, including your name, mobile number, Aadhaar number, and information about your family or employers, will be kept confidential.</p>
                               
                            </marquee>
                        </div>
                    </div>
                   </div>
                <div class="row text-center justify-content-center align-items-center">
                    
                  <!--   <div class="col-lg-4">
                        <div class="login-logo">
                            <img src="assets/images/safaimitra-logo.png" class="img-fluid" alt="safaimitra-logo">
                        </div>
                    </div> -->
                    <div class="col-lg-6">
                        <span class="login-logo">
                            <img src="assets/images/ap-logo.png" class="img-fluid" alt="Image">
                            </span>
                            <div class="heading-text">
                                <h3 class="mb-0 fw-bolder text-white">Welcome to
                                    Safaimitra  Survey Application
                                    </h3>
                            </div>
                    </div>
                    <!-- <div class="col-lg-2">
                       
                    </div> -->
                    
                    <div class="col-lg-4">
                        <div class="login_form">
                            <div action="#" class="form">
                                <a class="text-white" href="index.html"><i class="fa fa-home"></i></a>
                                <h2 class="form_title text-white"> Log In </h2>
                    
                                <div class="form_div">
                                    <input type="text" autocomplete="off" class="form_input" placeholder=" "  [(ngModel)]="username" style="top: 5px;">
                                    <label class="form_label"><i class="fa fa-user user-icon"></i> Username</label>
                                </div>
                    
                                <div class="form_div">
                                    <input type="password"  autocomplete="off" class="form_input"   [(ngModel)]="password" placeholder=" " style="top: 5px;">
                                    <label class="form_label"><i class="fa fa-key user-icon"></i> Password</label>
                                </div>
                    
                                <div id="captcha" class="form_div">
                                    <div class="captcha_form"> 
                                        <div class="row">
                                            <div class="col-lg-4 login-mobile-resp">
                                        <div class="result-text">
                                            <!-- <img src="assets/images/captcha-img.png" class="img-fluid" alt="captcha-img"> -->
                                     <!--        <span class="text-dark text-center fs-3 img-fluid "  style="font-size: 1.5rem!important; font-weight: 600;">{{imgurl}}</span>  -->
                                            <span class="text-white text-center fs-3 img-fluid " style="font-size: 1.5rem!important; font-weight: 600;"> {{imgurl}}</span>
                                          <!--  <span class="text-white text-center fs-3 img-fluid " style="font-size: 1.5rem!important; font-weight: 600;"> <img [src]="'data:image/jpg;base64,'+imgurl" width="100" height="50"  /></span>
                                            -->
                                        </div>
                                            </div>
                                            <div class="col-lg-2 login-mobile-resp">
                                                <button type="button"  (click)="CapthaGenerate()" class="btn btn-danger captcha_refersh">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                            </div>
                                            <div class="col-lg-6 login-mobile-resp">
                                                <input type="text" class="form-control form_input-one"  [(ngModel)]="captchvalue" maxlength="2" minlength="2" placeholder="Enter captcha">
                                            </div>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                    
                                <input type="submit" (click)="Login()" class="form_button" value="Login Now">
                                <span  class="mb-0 fw-bolder text-white"> </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2">

                    </div> -->
                </div>
            </div>
        </section>
        <!-- Login Section Ends -->

            
        <!-- Footer Start -->
        <section class="footer-section style= position: fixed ">
            <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
                <!-- <div class="ocean">
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                    </div> -->
                <div class="container pb-2">
                    <div class="row g-2">
    
                        <div class="col-md-6 col-lg-9">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                                H.No. 54-16-1/14D, 3rd Floor, <br>
                                Road No.2, Central Excise Colony,<br>
                                Andhra Loyola College Road, Vijayawada.<br>
                                Andhra Pradesh</p>
                            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                            <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                            <div class="d-flex pt-2">
                                <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="container">
                    <div class="copyright">
                        <div class="row">
    
                            <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                                &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Footer End -->