<div>
    <h2>Select Columns</h2>
    <label *ngFor="let column of columns">
      <input type="checkbox" [(ngModel)]="column.selected" (change)="toggleColumn(column)">
      {{ column.name }}
    </label>
  </div>
  
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of displayedColumns">
          {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of displayedColumns">
          {{ column.prop}}
        </td>
      </tr>
    </tbody>
  </table>