.survey-table td {
    font-size: 16px;
}
.survey-table th {
    font-size: 16px;
}
.form-control {
    appearance: auto;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}
